<header role="page">
	<h1 class="about icon">À propos</h1>
	<p>Le Plan Rojava, c'est ce que vous avez attendu. Nous avons une occasion unique, chacun d'entre nous, de participer à la création d'une nouvelle société et de prouver que nos idées fonctionnent.</p>
</header>
<section id="main">
	<h3>Plan Rojava</h3>

<p><img alt="About us" class="border right" src="${prefix}pics/aboutpic.jpg">
Notre objectif est singulier; le développement d'un monde libre, et nous croyons que ça commence ici, avec Rojava.</p>

<p>
Le Plan Rojava est un mouvement pour créer un réseau mondial de sociétés démocratiques. Cela commence maintenant avec Rojava comme modèle pour le reste du monde. Et nous aussi, nous apprenons en étant ici.
</p>

<p>Merci beaucoup d'avoir visité notre site. Soyez sûr de visiter <a href="http://wiki.rojavaplan.com">notre wiki</a>. Que vous soyez ici pour nous rejoindre, offrir votre aide et simplement pour visiter- Bienvenu!</p>

<p><em>- Plan Rojava</em></p>

<h3>À propos de Rojava</h3>

<p>Rojava est une région autonome dans le nord de la Syrie. La région a gagné son autonomie en novembre 2013 dans le processus de l'insurrection syrienne, établissant ainsi une société fondée sur les principes de la démocratie directe, l'équité entre les sexes et le développement durable. Rojava est composé de 3 cantons appelés Jazira, Kobani et Afrin.</p>

<p>Pour plus d'informations sur Rojava, visitez notre page <a href="https://en.wikipedia.org/wiki/Rojava">Wikipedia</a> ou notre <a href="${prefix}join-3-1-resources.html">page ressource</a>.</p>

</section><!-- /#main -->

