<aside role="sub">

	<h4 class="clear">Categories</h4>
	<ul id="nav_categories" class="nav_categories">
	<li>
	<a href="${prefix}category/societe.html">Society</a>
	</li>
	<li>
	<a href="${prefix}category/economie.html">Economy</a>
	</li>
	<li>
	<a href="${prefix}category/sante.html">Health</a>
	</li>
	<li>
	<a href="${prefix}category/science.html">Science & Tech</a>
	</li>
	<li>
	<a href="${prefix}category/arts.html">Arts & Music</a>
	</li>
	<li>
	<a href="${prefix}category/guerre.html">Frontline</a>
	</li>
	<li>
	<a href="${prefix}category/monde.html">World</a>
	</li>
	<li>
	<a href="${prefix}category/video.html">Video Reports</a>
	</li>
	<li>
	<a href="${prefix}category/images.html">In Pictures</a>
	</li>
	<li>
	<a href="${prefix}category/special.html">Special Reports</a>
	</li>
	<li>
	<a href="${prefix}category/explications.html">Explainers</a>
	</li>
	<li>
	<a href="${prefix}category/opinion.html">Opinion</a>
	</li>
    </ul>
	
	<h4>Archives</h4>
	<ul>
	<li><a href="${prefix}archive/nov-2015.html">November 2015</a></li>
	</ul>
</aside>

