<header role="page">
    <h1 class="contribute icon">Contribuez</h1>
	<p>Nous savons que ce n'est pas tout le monde qui peut se déraciner. Certaines personnes ont à s'occuper de leurs enfants , d'autres sont malades et certains ne sont tout simplement pas prêts à abandonner leur ancienne vie.</p>
<p><strong>Créons une nouvelle société ensemble</strong></p>
</header>

<section id="main">
    <p>Découvrez nos projets dans le <a href="http://wiki.rojavaplan.com">wiki</a>.</p>

	<h3>Travail de traduction</h3>

    <p>Nous avons besoin de gens qui peuvent aider à traduire des textes dans différentes langues.</p>

    <p>Avant tout, nous avons besoin de traducteurs kurdes. Il y a beaucoup d'informations qui peuvent aider massivement la société de Rojava, mais elles doivent être traduites en kurde. Nous avons aussi besoin de personnes qui peuvent traduire du matériel du kurmanci, arabe ou turc vers l'anglais, mandarin, hindoue, français, espagnol et autres langues largement parlées. Enfin, nous avons besoin de traducteurs assyriens / araméens.</p>

    <p>S'il vous plaît, <a href="/contact.html">nous contacter</a> si vous êtes capable de faire de la traduction.</p>

    <h3>Conseils et aides de spécialistes</h3>

    <p>Si vous êtes un spécialiste dans les domaines de la science, de l'ingénierie, de la technologie, des médias ou de quoi que ce soit alors nous avons besoin de vos connaissances. S'il vous plaît, nous joindre pour offrir votre aide.</p>

    <h3>Promotion, réseautage et campagne publicitaire dans la rue</h3>

    <p>Allez dans les rues, étalez le Plan Rojava à l'échelle mondiale, faites des campagnes publicitaires et faites la promotion sur les médias sociaux. Nous voulons que chacun puisse voir ce qui se passe à Rojava.</p>

    <p>Si vous connaissez des groupes ayant des affinités avec nous, assurez-vous qu'ils nous connaissent. Faites du réseautage. Nous recherchons des amis dans le monde entier , qui partagent nos buts, pour créer des liens.</p>

    <h3>Transcripteurs et éditeurs</h3>

    <p>Nous avons beaucoup d'images numérisées qui ont besoin de transcription et d'être copié en format texte, de sorte que les informations peuvent être rassemblées et mieux utilisées.</p>

    <h3>Financez la cause</h3>

    <p>Un moyen de soutenir notre travail d'une manière significative est de faire un <a href="/donate.html">don</a>.</p>

</section><!-- /#main -->

