<header role="page">
    <h1>Contact</h1>

</header>

<section id="main">
	<h3>Send us an Email</h3>

<p>If you want to join us then you must first read the guide on
<a href="${prefix}join.html">joining</a>. Make sure you understand the
information there before contacting us.</p>

<p>Our email is:</p>

<p><img src="${data_prefix}pics/email.png" /></p>

<p>Please be patient as we get a lot of mail. It might take us up
to 5 days to respond. If after 7 days, you get no response, then
you can send 1 follow up email to remind us.</p>

<h3>Protect Your Emails with Encryption Software</h3>

<p>Encryption software protects your communications. It prevents
malicious groups from intercepting your messages and reading them.
We recommend you learn to use encryption methods for your own safety.</p>

<p>For your safety, we recommend encrypted communication through PGP.
Here are some guides for common systems people use:</p>

<ul>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-windows">Windows</a></li>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x">Mac OS X</a></li>
    <li><a href="https://securityinabox.org/en/guide/apg/android">Android</a></li>
</ul>

<p>A less secure option is the <a href="https://www.mailvelope.com/">Mailvelope plugin</a>
for Chrome and Firefox.</p>

<h3>Sending Us Encrypted Mail</h3>

<p>After setting up PGP, you must import our key into your software,
and also send us your key.</p>

<p>Here is <a href="${data_prefix}uploads/rojava_plan.key.asc">our PGP key</a>
to send us a secured encrypted email.
You will need this to send us an encrypted email.</p>

<p>Download this to your computer, and import it into your encryption software.</p>

<p>You must also send us your PGP key. We will need your key to reply back to you.</p>

<p>This process is called the key exchange. Remember to include your public key
so we can reply back. There should be a button in your software labelled
"Attach My Public Key".</p>

</section><!-- /#main -->

