<header role="page">
    <h1>Contact</h1>

</header>

<section id="main">
	<h3>Envoyez-nous un e-mail</h3>

<p>Si vous souhaitez nous rejoindre, vous devez d'abord lire le guide sur
<a href="${prefix}join.html">l'adhésion</a>. Assurez-vous de comprendre les informations dans le guide avant de nous contacter.</p>

<p>Notre email est:</p>

<p><img src="${data_prefix}pics/email.png" /></p>

<p>S'il vous plaît, soyez patient, car nous recevons beaucoup de courriels. Nous pouvons prendre jusqu'à 5 jours pour répondre. Si au bout de 7 jours vous n'avez pas reçu de réponse, alors vous pouvez envoyer 1 courriel de suivi pour nous rappeler de vous contacter.</p>

<h3>Protégez vos e-mails avec un logiciel de cryptage</h3>

<p>Un logiciel de cryptage protège vos communications. Il empêche les groupes malveillants d'intercepter vos messages et de les lire. Nous vous recommandons d'apprendre à utiliser des méthodes de cryptage pour votre propre sécurité.</p>

<p>Pour votre sécurité, nous vous recommandons de crypter vos communications grâce au système PGP. Voici quelques guides pour les systèmes d'exploitation communs:</p>

<ul>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-windows">Windows</a></li>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x">Mac OS X</a></li>
    <li><a href="https://securityinabox.org/en/guide/apg/android">Android</a></li>
</ul>

<p>Une option moins sécurisée est le <a href="https://www.mailvelope.com/">plug-in Mailvelope</a> pour Chrome et Firefox.</p>

<h3>Envoi nous courrier crypté</h3>

<p>Après la mise en place de PGP, vous devez importer notre clé dans votre logiciel, et également nous envoyer votre clé.</p>

<p>Voici <a href="${data_prefix}uploads/rojava_plan.key.asc">notre clé PGP</a>
pour nous envoyer un courriel crypté et sécurisé. Vous en aurez besoin pour nous envoyer un e-mail crypté.</p>

<p>Téléchargez ceci sur votre ordinateur, et importez-le dans votre logiciel de cryptage.</p>

<p>Vous devez également nous envoyer votre clé PGP. Nous aurons besoin de votre clé pour répondre à votre courriel.</p>

<p>Ce processus est appelé l'échange de clés. Souvenez-vous d'inclure votre clé publique afin que nous puissions vous répondre . Il devrait y avoir un bouton dans votre logiciel étiqueté "Attacher ma clé publique".</p>

</section><!-- /#main -->

