<header role="page">
    <h1 class="donate icon">Donate</h1>
    <p>Rojava Plan is a volunteer network of thoughtful individuals who have left everything
    behind to support the Rojava project. And we need your help.</p>
</header>

<section id="main">
    <h3>Support Us With Money</h3>

    <p> We want to remain independent from foreign interests, states and corporations. For this to work we need a movement af people from around the world to support us financially. Be a part of it! This revolution is being fought for all of us.</p>

    <p> Your donations are being used to fund our different projects and to cover basic needs for foreign volunteers, such as accomodation, food and transport. </p>

    <p>Feed our work with your contribution.</p>

    <p>Bitcoin and Faircoin are currencies that can be used over the internet without revealing your identity.</p>

    <p><strong>Bitcoin</strong> address: <a target="_blank" href="https://blockchain.info/address/1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7"><strong>1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7</strong></a></p>

    <p>You can buy Bitcoin over the internet with <a target="_blank" href="https://www.bitquick.co/">BitQuick</a> or in person using <a target="_blank" href="https://localbitcoins.com">LocalBitcoins</a>.</p>

    <p><strong>Faircoin</strong> address: <a target="_blank" href="https://chain.fair-coin.org/address/fPa63v9LKq7mQR6Ux3Hz5AdChNFNYbomgP"><strong>fPa63v9LKq7mQR6Ux3Hz5AdChNFNYbomgP</strong></a></p>

    <p>You can buy Faircoin <a target="_blank" href="https://getfaircoin.net/">here</a>.</p>

    <p>Simply send the money to our address above, and we'll receive the funds. Click the address to visit a website where you can see the balance, and check that we received your money.</p>

    <p>If you want to support a specific project, <a href="${prefix}contact.html">send us a message</a> <em>before</em> sending the money, stating the exact amount and the project to be funded. Find out more about our current projects and needs <a target="_blank" href="http://wiki.rojavaplan.com/">here</a>.</p>

    <p>Thanks so much for any contribution. Everything counts.</p>

    <p><em>- Rojava Plan</em></p>

</section><!-- /#main -->

