<header role="page">
    <h1 class="faqs icon">FAQs</h1>
	<p>Vous avez des questions. Nous avons des réponses.</p>

</header>

<section id="main">

<h3>Qui peut adhérer?</h3>
<p>Seules les personnes qui ont bien lu et compris notre site Web. Nous ne vous demandons pas votre âge, votre nationalité, votre sexe ou votre religion. Nous traitons les Kurdes et les non-Kurdes exactement de la même façon. Cependant,  nous vous demandons quelques questions que nous espérons que vous répondiez lorsque vous nous contactez.</p>

<h3>Combien d'argent dois-je apporter?</h3>
<p>C'est à vous de choisir . Autour de 200US $ pour les urgences est conseillé. Une fois à Rojava, les besoins de base sont couverts, de sorte que vous n'avez pas vraiment besoin d'argent. Cependant, avoir votre propre argent vous rendra plus autonome, et contribuera à l'économie locale. Nous apprécierions si vous pouvez apporter un peu d'argent supplémentaire pour l'échanger en cryptomonnaie ici, que vous pouvez garder ou envoyer à votre pays. Il n'y a pas de banques, de sorte que les cartes de crédit ou de débit sont inutiles ici.</p>

<h3>Comment est l'Internet?</h3>
<p>En général mauvais, mais nous avons quelques endroits avec une bonne connection internet. Le seul fournisseur de services Internet est Turkcell, une compagnie turque.</p>

<h3>Quelle est la monnaie utilisée à Rojava?</h3>
<p>Les livres syriennes. L'argent américain  est aussi largement accepté. Nous utilisons également Bitcoin et faircoin. D'autres devises peuvent être facilement échangées dans toutes les grandes villes. 1 US $ égal environ à 340 livres syriennes.</p>

<h3>Quels sont les prix à Rojava?</h3>
<p>Un taxi vous coûtera 0.05 à 1.50 US $. 1 kg de pain coûte environ 0.20 $ US. Vous pouvez manger dans un restaurant pour 2 à 10 $. Un disque dur coûte environ $ .10 / Gb.</p>

<h3>Combien de temps est la formation du YPG?</h3>
<p>La formation de combat de base est de deux semaines. Il y a aussi une formation plus longue , qui inclu la langue Kurde et notre idéologie.</p>

<h3>Comment puis-je me rendre au Kurdistan? Quel est le prix du billet? Ai-je besoin d'un visa? Dans quelle ville mon avion doit-il atterrir? ...?</h3>
<p>Ne vous inquiétez pas à ce sujet maintenant. Nous allons passer par tous les détails du voyage une fois que vous êtes prêt à partir.</p>

<h3>Dois-je apporter des vêtements militaires ou des livres Kurmancî avec moi, où ce sera considéré comme suspect?</h3>
<p>Il n'y a pas de problèmes, mais vous devriez vérifier les règlements de votre pays en matière de transport de matériel militaire.</p>

<h3>Vais-je avoir des problèmes juridiques dans mon pays pour soutenir le YPG?</h3>
<p>Non, vous n'aurez pas de problèmes. Nous travaillons exclusivement avec la société civile, et n'avons aucun rapport avec le YPG, PKK, ou tout groupe armé. Votre gouvernement va probablement essayer de vous convaincre de ne pas partir au Kurdistan, et vous menacera de poursuites judiciaires, ils pourraient même essayer de faire chanter votre famille, mais soyez rassuré qu'il n'y a rien qu'ils peuvent faire pour vous arrêter, et absolument aucun fondement juridique pour vous poursuivre en justice.</p>

<h3>Ai-je besoin d'un visa pour aller au Kurdistan?</h3>
<p>Nous ne savons pas. Vous devez trouver cette information par vous-même.</p>

</section><!-- /#main -->

