	
<aside role="social">
    <section class="language">
        <h1>¡Hola! Bonjour! Mêrheba!</h1>
        <p><a href="/">English</a></p>
        <p><a href="/es/">Español</a></p>
        <p><a href="/pt/">Português</a></p>
    </section>
	<section class="twitter"> 
		<h1>Dernier Tweet</h1>
		
		<p><a target="_blank" href="https://twitter.com/RojavaPlan" class="button">Join the Discussion</a></p>
	</section> 
	<section class="facebook">
		<h1>Let's be friends!</h1>
		<p>For weekly info, community discussion, and more, like us on Facebook.</p>
		<p><a target="_blank" href="https://www.facebook.com/RojavaPlan" class="button">Join the Community</a></p>
	</section>
</aside><!-- /aside -->

<footer role="siteinfo">
    <p id="languages">
    <a href="/">English</a>
    <a href="/es/">Español</a>
    <a href="/pt/">Português</a>
    </p>
    <p>
    <a href="http://wiki.rojavaplan.com">Wiki</a> |
    <a href="${prefix}contact.html">Contact</a> |
    <a href="${data_prefix}uploads/press_kit.zip">Press Kit</a> |
    <a href="${prefix}faqs.html">FAQ</a>
    <br>
    Licensed <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons SA</a>, Rojava Plan.
    </p>
	<div class="social">
		<ul>
			<li class="twitter"><a target="_blank" href="https://twitter.com/RojavaPlan">Twitter</a></li>
			<li class="facebook"><a target="_blank" href="https://www.facebook.com/RojavaPlan">Facebook</a></li>
			<li class="rss"><a target="_blank" href="https://reddit.com/r/rojava">Follow Rojava on Reddit</a></li>
		</ul>
	</div>
</footer>

</div><!-- /#wrap -->
	
</body></html>

