<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js wf-fftisawebpro-n4-active wf-fftisawebpro-i4-active wf-fftisawebpro-n7-active wf-fftisawebpro-i7-active wf-active" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Rojava Plan | ${title}</title>
<meta name="description" content="Rojava news and articles on the democratic revolution and anarchism in Kurdistan. Come and participate - Rojava needs your solidarity!">
<meta name="author" content="Rojava Plan">
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<!-- CSS -->
<link rel="stylesheet" media="screen, print" href="${res_prefix}css/basic.css">
<!--[if gte IE 7]><!-->
<link rel="stylesheet" media="screen" href="${res_prefix}css/screen.css">
<!--<![endif]-->

<link rel="shortcut icon" type="image/ico" href="${res_prefix}img/favicon.png">

</head>
	
<body id="home-page">

<div id="wrap">

<header role="masthead">
    <a href="${prefix}"><h1 id="branding">Rojava Plan</h1></a>
	<nav>
		<ul>
			<li id="t-rpmain"><a href="${prefix}rojavaplan.html">Le Plan</a></li>
			<li id="t-news"><a href="${prefix}news.html">News</a></li>
			<li id="t-join"><a href="${prefix}join.html">Joindre</a></li>
			<li id="t-contribute"><a href="${prefix}contribute.html">Contribute</a></li>
			<li id="t-donate"><a href="${prefix}donate.html">Donate</a></li>
			<li id="t-about"><a href="${prefix}about.html">About</a></li>
		</ul>
	</nav>
</header>

