<header role="page">
    <h1 class="join icon">Join</h1>
    <p>This is a revolution. The movement that created it looks back on thousands of years of history that have amounted to the most progressive social experiment of our times. Don't expect things here to go your way. It is important to understand the culture and philosophy behind this new emerging society. Things here might be done differently from the way you're used to. Are you willing to learn a lot before you start doing things yourself? Are you ready to cooperate with people from many different cultures? Good! You can help a lot here!</p>

<p><strong>&nbsp;</strong></p>
</header>

<section id="main">
	<h3>Preparing Yourself</h3>

<p>Before you leave, you will have a lot of questions, doubt and anxiety. This is normal. Know that once you arrive here, the situation will feel a lot better. Here are some things you can do before arriving to prepare yourself.</p>

<p>First you should study the philosophical and political origins that the movement in Rojava fights for. A short book outlining the political idea behind Rojava is the book on <a href="${prefix}join-3-1-resources.html">Democratic Confederalism</a>.  You can also read the <a href="https://en.wikipedia.org/wiki/Democratic_Confederalism">Wikipedia article</a>, and read this <a href="http://www.bbc.co.uk/blogs/adamcurtis/entries/5a7b18b5-0ec3-3d3e-a307-54820a7c6a59">BBC article by Adam Curtis</a>. For a better understanding of the philosophy we recommend reading the recent works of Abdullah Ocalan and Murray Bookchin.</p>

<p>You can begin <a href="${prefix}join-2-learn-kurdish.html">language study of Kurdish</a> by reading the Kurmanji basic book listed on that webpage. You must prepare a copy of that book, it will become a useful reference guide for you. Having a grounding in grammar when you arrive here will allow you to more quickly pick up the language as you will simply have to learn the words (vocabulary). Grammar is more difficult to learn by yourself. Still the best way to learn a language is practice. Find out if there are any Kurmancî speakers in your area. A Kurdish community center, a refugee solidarity group or a university might be good places to start looking. Many Kurds living and studying abroad are looking for tandem partners to improve their language skills. This is the most important preparation you can perform. Being able to speak the language here will make you far more effective.</p>

<p>If you are coming here for some specific piece of work, a list of proposed projects or a proposal would be useful. Before arriving, you can do research about what you can offer and what you’d like to do, also thinking about what might be needed here. Then once you arrive here and start to better understand the situation, you can update this document and we can eventually get it translated. If you don’t have anything specific to offer, then even a cover letter explaining yourself can help for introducing you to others.</p>

<p>Even if you come here to be a soldier, being here is not just about fighting. So being able to do lots of press ups or run fast, won’t put you at an advantage over someone who understands the language and philosophy.</p>

<p>Nobody coming to help the revolution will stay hungry or homeless here. Still, bring a sufficient amount of money with you to cover everyday needs. Rojava is not rich, and it shouldn't have to spend even more money on lots of foreign volunteers. Life is cheap here but youccannot rely on ATMs being available so take as much money as possible. For further questions contact us. It might be a good idea to set up a support circle that helps you fund your travel and other possible expenses.</p>

<h3>Weather and Terrain</h3>

<p>Central and Eastern Rojava is mainly wide open plains with the occasional hill with very few trees. Spring and Fall are very short so the transition from hot to cold is quick.</p>

<p>Irrigated land with wide open dirt fields and baseball-sized rocks (sometimes larger). Due to climate and overgrazing trees and bushes are rare. Hills are either used as cemeteries or military outposts and in both cases are barren. Potable water is inadequate.</p>

<p>Summer: Climate is hot (highs of 42°C ) dry, sunny with the occasional dust/sand storm that can last for days. The nights are a few degrees cooler with a breeze but still very hot. Count on many bugs and insects.</p>

<p>Winter: Climate is cold (lows of -5 °C) and dry with the occasional rain. If it does rain it can pour for 2-3 days constantly turning the earth into deep red mud making movement difficult.  The wind chill factor is a daily phenomenon as there is no protection in the plains. Count on periodic snow and sleet which melts after a couple of days.</p>

<h3>Packing List</h3>

<p>When thinking about what gear to bring, focus on specialised items that are not commonly available. Most medicines are available here, as are common items and so on. However if you can bring those, it’s better to be prepared and self sufficient from the start. Here’s a suggested packing list we recommend.</p>

<p>Items highly recommended;</p>

<ul>
    <li>Good quality 6 inch boots OR with side-zips (you will take them on and off a lot)</li>
    <li>2 pairs quality wool blend socks (OD/Blk/Tan/Grey)</li>
    <li>2 quality moisture wicking t-shirts (OD/Blk/Tan)</li>
    <li>2 quality moisture wicking underwear</li>
    <li>Web belt (BDU, Riggers)</li>
    <li>Wrap-up waterproof rain cover (full body)</li>
    <li>Hat, Gloves, Layer-Wear, Thermal Underwear and Jacket depending on when you are in country (refer to weather section)</li>
    <li>Ballistic Eyewear</li>
    <li>Watch with alarm</li>
    <li>Money for basic expenses</li>
</ul>
 
<ul>
    <li>Hiking Pack (100 L) You will have to hike it for 5-8 hours</li>
    <li>Day Pack/Patrol Pack</li>
    <li>First Aid Kit (mountable on belt, plate carrier or LBV)</li>
    <li>Zip Ties</li>
</ul>

<ul>
    <li>Multi-Tool or Swiss Army knife</li>
    <li>Flashlight (powered by AA batteries)</li>
    <li>Compact Binoculars (ideally 12x)</li>
    <li>2 quality toothbrushes</li>
    <li>Razor handle with refills</li>
    <li>Nail Clippers</li>
    <li>Tweezers</li>
    <li>Pocket Mirror</li>
</ul>

<p>Optional items</p>

<ul>
    <li>GPS</li>
    <li>Water filter / tablets kit if easily affected by water</li>
    <li>Knee pads / elbow pads</li>
    <li>EBook reader or MP3 player</li>
    <li>Laptop.</li>
    <li>Notepad and pen for writing Kurdish words.</li>
</ul>

<p>For electronics, everything here uses the European style double pin socket but often other socket styles can be found.</p>

<p>For the airport, make sure you have a good cover story which explains why you’re travelling to this region. You could be a journalist, blogger or whatever coming to do civilian work. Just make sure everything is consistent with your own experience and history. Be plausible.</p>

<p class="go-next">Next: 3.1. <a href="${prefix}join-3-1-resources.html">Books and Other Resources on Rojava</a></p>

</section><!-- /#main -->

