<header role="page">
    <h1 class="join icon">Nous rejoindre</h1>
    <p>Rojava est le début. Il y a beaucoup à faire. Nous avons besoin de personnes qualifiées et révolutionnaires qui sont motivés. Nous avons besoin de spécialistes de toutes sortes.</p>

<p><strong>&nbsp;</strong></p>
</header>

<section id="main">
	<h3>Rojava est une Nouvelle Confédération Révolutionnaire</h3>

<p><a href="https://en.wikipedia.org/wiki/Rojava">Rojava</a> est une région autonome du nord de la Syrie. La région a gagné son autonomie à l'été 2012 dans le processus de l'insurrection syrienne, établissant une société fondée sur les principes de la démocratie directe, l'équité entre les sexes et le développement durable. Rojava se compose des trois cantons appelés Jazira, Kobani et Afrin.</p>

<p><small><strong>Écoutez:</strong> nous recevons beaucoup de messages de personnes qui n'ont pas lu ce site. Avant de nous envoyer un message, passer à travers le contenu du site. Ceci est une affaire sérieuse, et si vous nous envoyez un courriel d'une ligne sans avoir lu l'info ici alors vous nous faites perdre notre temps et vous laissez une mauvaise impression. Nous ne  voulons que des gens sérieux pour venir à Rojava.</small></p>

<h3>Ce à quoi s'attendre</h3>

<p>Venir à Rojava est une décision importante, et vous devez complètement comprendre dans quoi vous vous embarquez afin de vous sentir prêt.</p>

<p><em>Ceci est une révolution, pas un événement Facebook.</em></p>

<p>Également garder à l'esprit que:</p>

<ul>
    <li>Nous ne payons pas les volontaires.</li>
    <li>Vous devriez viser pour 6 mois ou plus.</li>
    <li>Nous n'acceptons pas les touristes. Les gens adhèrent à ces projets.</li>
    <li>Nous désirons tous la vraie liberté. Nous travaillons pour atteindre cet objectif.</li>
</ul>

<h3>Commencez avec le guide</h3>

<p>Pour commencer, suivez ce guide:</p>

<ol>
    <li><a href="${prefix}join-1-what-can-you-do.html">Ce que vous pouvez accomplir ici</a></li>
    <li><a href="${prefix}join-2-learn-kurdish.html">Apprendre le kurde</a></li>
    <li><a href="${prefix}join-3-preparing-yourself.html">Se préparer et la liste d'équipement</a>
        <ul>
            <li><a href="${prefix}join-3-1-resources.html">Livres et autres ressources sur Rojava</a></li>
            <li><a href="${prefix}join-3-2-personal-account.html">Compte-rendu personnel de Rojava</a></li>
        </ul>
    </li>
    <li><a href="${prefix}join-4-the-journey.html">Le voyage jusqu'ici</a></li>
    <li><a href="${prefix}join-5-what-to-expect.html">À quoi s'attendre</a></li>
    <li><a href="${prefix}join-6-ready.html">Je suis prêt à venir</a></li>
</ol>

<p>Vous devez étudier les informations ci-dessus afin que vous puissiez bien comprendre la situation que vous êtes sur le point d'entrer.</p>

<p class="go-next">Suivant: 1. <a href="${prefix}join-1-what-can-you-do.html">Ce que vous pouvez accomplir ici</a></p>

</section><!-- /#main -->

