<header role="page">
    <h1 class="join icon">Nous joindre</h1>
    <p>Rojava est le début. Il y a beaucoup à faire. Nous avons besoin de personnes qualifiées et révolutionnaires qui sont motivés. Nous avons besoin de spécialistes de toutes sortes.</p>

<p><strong>On a besoin de vous!</strong></p>
</header>

<section id="main">
	<h3>Apprendre la langue kurde</h3>

<p>Les principales langues parlées dans à Rojava sont l'arabe (le plus largement parlé), le kurde (largement utilisé) et le turc. Sans être en mesure de parler l'une de ces langues, vous serez incapable de travailler ici efficacement et vous n'obtiendrez que des rôles limités sous supervision.</p>

<p>Apprendre le kurde est beaucoup plus facile que l'arabe, et vous serez en mesure de communiquer avec la majorité des gens qui interagiront avec vous. Nous suggérons simplement d'apprendre le kurde, qui est largement compris.</p>

<p>Afin de maximiser votre potentiel, nous suggérons que les gens qui arrivent ici prennent le temps d'apprendre le kurde. Quand vous serez ici, nous vous aiderons à apprendre le kurde avec des cours et des stages. Mais avant d'arriver ici, vous pouvez déjà commencer vos préparatifs. L'effort que vous allez mettre va vous aider avant votre arrivée, mais ne soyez pas rebutés si vous avez de la difficulté à progresser. La grammaire que vous mémorisez vous aidera à comprendre la langue une fois que vous apprendrez les mots à Rojava.</p>

<p>D'abord, nous vous recommandons d'apporter un ordinateur portable qui vous permettra de travailler, de lire des documents et ainsi de suite. Un cellulaire pour télécharger le dictionnaire WQFerheng (voir la section dictionnaires ci-dessous) est très utile aussi. Une tablette est moins efficace, mais si vous en avez une, vous pouvez également l'apporter. Un lecteur d'ebook est aussi une bonne idée si vous prévoyez d'aller au front puisque leur batterie dure longtemps.</p>

<p>Vous pouvez faire un clic droit sur ces documents, et sélectionnez "Enregistrer le lien sous ..." pour les télécharger sur votre ordinateur.</p>

<ul>
    <li>Le livre d'étude recommandée est <a href="${prefix}uploads/kurdish/kurmanji-basic.pdf">Kurmanji basic</a> et la lecture de ce document est obligatoire avant de venir ici. Il vous enseignera la grammaire de base, ensuite vous pourrez facilement apprendre le vocabulaire ici.</li>
    <li>Pour le niveau intermédiaire, étudiez <a href="${prefix}uploads/kurdish/Kurmanji_Kurdish_Fort_The_Beginners.pdf">Kurmanji Kurdish For The Beginners</a>.</li>
    <li>Le livre <a href="${prefix}uploads/kurdish/Learn_Kurdish.pdf">Learn KURDISH</a> par Baran Rizgar est complet avec beaucoup d'exemples et d'informations utiles que vous ne trouverez pas dans d'autres livres.</li>
    <li>Un autre livre utile est <a href="${prefix}uploads/kurdish/ingilizikurdi.pdf">Em hînî Kurmancî dibin</a>.</li>
    <li>Voici un livre de grammaire kurde <a href="${prefix}uploads/kurdish/kurmanji_1_grammar.mobi">pour les lecteurs de livres électroniques</a>.</li>
    <li>Ceci est un <a href="${prefix}uploads/kurdish/Kurmanji_Kurdish_A_Reference_Grammar.pdf">bon livre de référence</a> sur la grammaire kurde</a>.</li>
    <li>Le site <a href="http://learnkurmanji.com/">LearnKurmanji</a> est une excellente ressource de départ avec beaucoup de vidéo et des leçons pour les débutants.</a>
</ul>

<p>Dictionnaires:</p>

<ul>
    <li><a href="${prefix}uploads/kurdish/kurmanji-english.pdf">Ceci est le meilleur</a> dictionnaire disponible, mais il est seulement du kurde vers l'anglais.</li>
    <li>Dans le livre "Kurmanji Kurdish For The Beginners" énuméré ci-dessus, il y a aussi un index de recherche à la fin du livre.</li>
    <li>Voici 3 dictionnaires kurdes: <a href="${prefix}uploads/kurdish/Ferhenga Desti.pdf">1</a>, <a href="${prefix}uploads/kurdish/Ferhenga Kameran.pdf">2</a> et <a href="${prefix}uploads/kurdish/Ferhenga Peyvname II (kurdi bi kurdi).pdf">3</a>.</li>
    <li>Voici <a href="${prefix}uploads/kurdish/WQFerheng_3.9.apk">WQFerheng</a>, une application pour Android. Vous pouvez également le trouver dans le Google Play Store. Ceci est une excellente ressource à avoir en poche quand vous êtes à l'extérieur et sans ordinateur. Hautement recommandé.</li>
</ul>

<p>Anki flashcards. Pour les utiliser, procédez comme suit:</p>
<ul>
    <li>Installer Anki (Linux):
        <ol>
            <li><strong>Télécharger.</strong> Enregistrez <a href="${prefix}uploads/kurdish/anki-2.0.33.deb">ce fichier</a>.</li>
            <li><strong>Installer.</strong> Allez là où vous avez enregistré le fichier et tapez: sudo dpkg -i anki-2.0.33.deb</li>
            <li><strong>Démarrez le programme.</strong> Tapez: anki</li>
        </ol>
    </li>
    <li>Installer Anki (autre OS):
        <ol>
            <li>Suivez les instructions sur le <a href="http://ankisrs.net/">site Web d'Anki</a>.</li>
        </ol>
    </li>
    <li>Utiliser les cartes:
        <ol>
            <li>Téléchargez et enregistrez <a href="${prefix}uploads/kurdish/kurmanji_cards.zip">les cartes</a>.</li>
            <li>Démarrez Anki, cliquez sur "Importer un fichier" et importez les cartes.</li>
            <li>Cliquez sur l'une des cartes, et commencez à étudier!</li>
        </ol>
    </li>
</ul>

<p>Consultez Hawar News pour des articles de presse en kurde.</p>

<p>Additionally here are some texts for studying:</p>

<ul>
    <li>“Jonathan Livingstone Seagull” en <a href="${prefix}uploads/kurdish/jonathon-livingstone.pdf">Anglais</a>, et en <a href="${prefix}uploads/kurdish/qaqlibaza_jonathan.pdf">Kurde</a>.</li>
    <li>Comparez la declaration des droits humanes en <a href="${prefix}uploads/kurdish/humanrights/declaration of human rights - english.pdf">anglais</a> et <a href="${prefix}uploads/kurdish/humanrights/declaration of human rights - kurdish.pdf">kurde</a>. Autres langages <a target="_blank" href="http://www.ohchr.org/EN/UDHR/Pages/SearchByLang.aspx">sont ici</a>.</li>
</ul>

<p class="go-next">Suivant: 3. <a href="${prefix}join-3-preparing-yourself.html">Se préparer et la liste d'équipement</a></p>

</section><!-- /#main -->

