<header role="page">
    <h1 class="join icon">Nous joindre</h1>
    <p>Rojava est le début. Il y a beaucoup à faire. Nous avons besoin de personnes qualifiées et révolutionnaires qui sont motivés. Nous avons besoin de spécialistes de toutes sortes.</p>

<p><strong>On a besoin de vous!</strong></p>
</header>

<section id="main">
	<h3>Ce que vous pouvez faire ici</h3>

    <p>Il est important que tout le monde capable et disposé vienne ici pour participer et réaliser cette révolution.</p>

    <p>Si vous avez des connaissances spécialisées dans un domaine, il y a une énorme variété d'opportunités pour vous, offrir des formations à faire de l'organisation et aider les autres et de travailler avec les institutions de Rojava sur de nouveaux projets passionnants.</p>

    <p>Mais surtout, votre motivation est plus importante que vos compétences. Toute personne avec de la lecture peut apprendre quoi que ce soit. Nous vivons ensemble communautairement. Dans un environnement amical, de travail et révolutionnaire.</p>

    <h3>De qui avons-nous besoin</h3>

<p>La liste ci-dessous est seulement une suggestion. Nous sommes ouverts à toutes sortes de gens.</p>

    <p>Les experts agricoles</p>

    <ul>
        <li>Connaître les différents types de cultures.</li>
        <li>Promouvoir l'utilisation de techniques plus écologiques.</li>
        <li>Le régime précédent ne permettait que la culture du blé. La connaissance sur d'autres types de cultures est manquante.</li>
        <li>Des vagues d'insectes tuant beaucoup de légumes, et personne ne sait pourquoi.</li>
    </ul>

    <p>Architectes</p>

    <ul>
        <li>Intérêt pour les nouvelles techniques de construction.</li>
    </ul>

    <p>Artistes</p>

    <ul>
        <li>Des artistes de rue pour décorer Rojava.</li>
        <li>Promouvoir une culture artistique et pour renforcer les valeurs révolutionnaires.</li>
    </ul>

    <p>Économie</p>

    <ul>
        <li>Les connaissances sur les modèles coopératifs et durables.</li>
        <li>L'intérêt et l'expérience en économie basée sur la solidarité.</li>
    </ul>

    <p>Les ingénieurs électriques</p>

    <ul>
        <li>Superviser la réparation et l'entretien de l'infrastructure électrique vieillissante.</li>
    </ul>

    <p>Ingénieurs</p>

    <ul>
        <li>Frigos, moulins, raffineries ... tout est nécessaire</li>
        <li>Besoin important de construire de nouvelles usines et de réactiver les anciennes.</li>
        <li>Philosophie OpenSource écologique qui convient à l'économie de Rojava.</li>
        <li>Besoin de construire / entretenir des machines comme des tracteurs ou des machines d'atelier.</li>
    </ul>

    <p>Les professionnels de la santé</p>

    <ul>
        <li>Former les gens ici.</li>
        <li>Médecins avec différentes spécialités.</li>
        <li>Techniciens en anesthésies.</li>
        <li>Besoin de sages-femmes.</li>
        <li>Besoin de vétérinaires.</li>
        <li>Infrastructure informatique pour l'administration générale de l'hôpital.</li>
    </ul>

    <p>Médias</p>

    <ul>
        <li>Documenter la réalité ici afin que les gens comprennent la situation.</li>
        <li>Transmettre les compétences nécessaires pour permettre à la société d'avoir une voix pour s'exprimer d'elle même.</li>
    </ul>

    <p>Scientifiques</p>

    <ul>
        <li>Enrichissez une culture scientifique native.</li>
        <li>Élargir la connaissance de la société civile pour des choses comme tester l'eau.</li>
        <li>Faire des recherches pour une économie populaire.</li>
        <li>La préservation écologique.</li>
        <li>Les chimistes nécessaires aux projets économiques.</li>
    </ul>

    <p>Experts techniques</p>

    <ul>
        <li>De la mise en place d'infrastructure Internet suite à la construction d'antennes jusqu'à la mise en place de réseau.</li>
        <li>Des programmeurs pour aider à créer des systèmes d'information, et pour enseigner cette connaissance.</li>
        <li>Des amateurs de Linux et d'opensource pour enseigner dans les écoles.</li>
        <li>Experts électroniques pour aider à créer une industrie de l'électronique locale.</li>
        <li>L'intérêt pour ces projets: Bitcoin, impression 3D, Linux, guifi.net</li>
    </ul>

<p class="go-next">Suivant: 2. <a href="${prefix}join-2-learn-kurdish.html">Apprendre la langue kurde</a></p>

</section><!-- /#main -->

