<header role="page">
    <h1 class="join icon">Join</h1>
    <p>This is a revolution. The movement that created it looks back on thousands of years of history that have amounted to the most progressive social experiment of our times. Don't expect things here to go your way. It is important to understand the culture and philosophy behind this new emerging society. Things here might be done differently from the way you're used to. Are you willing to learn a lot before you start doing things yourself? Are you ready to cooperate with people from many different cultures? Good! You can help a lot here!</p>

<p><strong>&nbsp;</strong></p>
</header>

<section id="main">
	<h3>The Journey Here</h3>

    <p>We cannot give out too many details publically about the journey to Rojava as we use different routes to bring people here.</p>

    <p>Once you are ready to leave, you will be placed on a special list and told to wait. When the way is open, you will be given a city to fly to in either Iraqi Kurdistan or Turkey and a choice of days and times. You must be prepared to leave before then.</p>

    <p>Then you will be given instructions on how to proceed when you arrive.</p>

    <p>The process of entering to Rojava varies and this is only a rough outline of what happens. You will then be taken to the border and cross over into Rojava.</p>

<p class="go-next">Next: 5. <a href="${prefix}join-5-what-to-expect.html">What To Expect</a></p>

</section><!-- /#main -->

