<aside role="sub">
	
<h4>Contact</h4>
<p>
Send an enquiry, offer assistance or apply to join. Find us through our <a href="${prefix}contact.html">contact page</a>.</p>
<p>
	You can also follow us on Twitter (<a target="_blank" href="https://twitter.com/RojavaPlan">@RojavaPlan</a>) or connect with us on <a target="_blank" href="https://www.facebook.com/RojavaPlan" target="_blank">Facebook</a>.</p>


<h4>Wiki</h4>
<p>
Learn about our projects and initiatives.
    <a href="http://wiki.rojavaplan.com">View our wiki »</a></p>
</p>
	
	<h4>FAQs</h4>
	<p>
    You have questions, we have answers. <a href="${prefix}faqs.html">View our frequently asked questions »</a></p>


	
<h4>Rojava Plan Weekly Newsletter</h4>
<p>
	Sign up to our mailing list to discuss projects, share ideas
    and receive news, delivered directly to your inbox.</p>

<form class="newsletter" action="https://lists.riseup.net/www" method="post">
    <fieldset>
        <label for="email" class="hide">Email</label>
        <input id="email" type="email" name="email" placeholder="Email">
        <input type="hidden" name="list" value="rojavaplan">
        <input type="hidden" name="action" value="subrequest">
        <input type="hidden" name="via_subrequest" value="1">
	</fieldset>
	<fieldset class="submit">
        <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Subscribe">
    </fieldset>
</form>

</aside>

