<aside role="sub">
	
<h4>Contact</h4>
<p>Envoyer une requête d'informations , offrir de l'aide ou une demande pour nous rejoindre . Retrouvez-nous via notre <a href="${prefix}contact.html">page de contact</a>.</p>
<p>Vous pouvez également nous suivre sur Twitter (<a target="_blank" href="https://twitter.com/RojavaPlan">@RojavaPlan</a>) ou vous connecter avec nous sur <a target="_blank" href="https://www.facebook.com/RojavaPlan" target="_blank">Facebook</a>.</p>


<h4>Wiki</h4>
<p>En savoir plus sur nos projets et initiatives. <a href="http://wiki.rojavaplan.com">Voir notre wiki »</a></p>
</p>
	
	<h4>FAQ</h4>
	<p>Vous avez des questions, nous avons des réponses. <a href="${prefix}faqs.html">Voir notre foire aux questions »</a></p>


	
<h4>Bulletin hebdomadaire du Plan Rojava</h4>
<p>Inscrivez-vous à notre liste de diffusion pour discuter des projets , partager des idées et recevoir des nouvelles, livrées directement à votre boîte de réception.</p>

<form class="newsletter" action="https://lists.riseup.net/www" method="post">
    <fieldset>
        <label for="email" class="hide">Email</label>
        <input id="email" type="email" name="email" placeholder="Email">
        <input type="hidden" name="list" value="rojavaplan">
        <input type="hidden" name="action" value="subrequest">
        <input type="hidden" name="via_subrequest" value="1">
	</fieldset>
	<fieldset class="submit">
        <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Subscribe">
    </fieldset>
</form>

</aside>

