<header role="page">
    <h1 class="rpmain icon">Rojava Plan</h1>
<p><strong>Rojava is what you've been waiting for.</strong></p>
</header>

<section id="main">
	<h3>Expect Us!</h3>

    <p>After the bourgeois revolutions two centuries ago, the power of God led to the power of money, and nationalism replaced religion as the system of human opression.</p>
    <p>The communist revolution brought us equality but not freedom. One century after, capitalism and nation-states, both forming an inseparable being which we call 'the System', is stronger than ever. But so are we.</p>
    <p>Some pro-democracy movements and freedom fighters all over the world have given up hope, reaching the conclusion that this is “the end of history”, that capitalism has won for good, that there is no other choice: both human society and the natural environment are doomed. Yet, the minute you step in Rojava it becomes clear how this is all just nonsense.</p>
    <p>For a long time we have been training for this, in Chiapas, Wall Street, Catalunya, South America, Greece… In Rojava they are finally doing it.</p>
    <p>If the Rojava revolution goes on it can spread to the minds of those who are ready for freedom.</p>
    <p>Humankind is like a butterfly trapped in the larval stage. This can be the beginning of the metamorphose: from centralized, authoritarian structures to the new free p2p network society; from nation-states to democratic confederalism.</p>
    <p>They have the money, but we have the internet. And we can now make our own money.</p>
    <p>So grab your laptop and come to Rojava now. Stop saying you can be more useful in your country. Stop the bullshit. Wake up!</p>
    <p>This is not an operation. This is a plan. It's what you've been preparing for.</p>

    <h3>Getting Started</h3>

    <p>Visit <a href="http://wiki.rojavaplan.com">our wiki</a> for info on our projects and detailed resources. Here you can find more about our work in Rojava.</a>

    <p>The <a href="${prefix}contribute.html">contribute page</a> lists various ways people for people to participate and help this cause.</p>

    <p>If you are ready to come, then head to the <a href="${prefix}join.html">join section</a>.</p>

    <p>You can also invest in our work by <a href="${prefix}donate.html">sending a donation</a>.</p>

</section><!-- /#main -->

