<header role="page">
    <h1 class="tastemakers icon">What's The Plan?</h1>
    <p>In 1 year, we are going to implement these projects. Bringing the latest decentralized solutions to Rojava.</p>
    
</header>

<section id="main">

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Fertilizer"><img src="${data_prefix}img/projects/fertilizer.jpg" alt="Organic fertilizer production" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Fertilizer">Production d'engrais organique</a></h1></header>
    <p>Nous allons résoudre les problèmes de pénurie alimentaire à Rojava. Chaque année, Rojava importe 150 millions de dollars d'engrais , ce qui peut être facilement produit localement.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Fertilizer">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Media"><img src="${data_prefix}img/projects/media.jpg" alt="Revolutionary media for a free world" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Media">Révolution médiatique</a></h1></header>
    <p>Construisons la plus grosse et la meilleure révolution médiatique de l'intérieur du coeur de la révolution!</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Media">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Internet"><img src="${data_prefix}img/projects/internet.jpg" alt="Internet and telephone system" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Internet">Internet et système téléphonique</a></h1></header>
    <p>L'Internet et le système téléphonique sont des problèmes importants ici. Nous allons résoudre ce problème en construisant un réseau communautaire à Rojava, suivant l'expérience Guifi.Net.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Internet">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Natural_medicine"><img src="${data_prefix}img/projects/natural medicine.jpg" alt="Natural medicine research" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Natural_medicine">Médecine naturelle</a></h1></header>
    <p>Découvrez des médicaments locaux purs. Permettons la recherche de cette écologie et trouvons de nouveaux remèdes naturels. Nous pouvons arrêter l'embargo contre la bonne santé- tout le monde mérite d'être en bonne santé.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Natural_medicine">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Earthbag"><img src="${data_prefix}img/projects/earthbag.jpg" alt="Earthbag construction" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Earthbag">Constructon Earthbag</a></h1></header>
    <p>Earthbag (ou superadobe) est une méthode écologique à faible coût de consutrction de belles maisons  avec une régulation naturelle de la température. Cette méthode utilise des matériaux locaux. Parfait pour un pays sous embargo où le béton est très coûteux.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Earthbag">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Kurdish_Ubuntu"><img src="${data_prefix}img/projects/ubuntu-ku.jpg" alt="Kurdish Ubuntu" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Kurdish_Ubuntu">Ubuntu Kurde</a></h1></header>
    <p>Nous créons le premier système d'exploitation kurde du monde , et l'élaboration d'un programme scolaire basé sur un logiciel gratuit. Nous avons besoin de pirates et d'enthousiastes de logiciels gratuits.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Kurdish_Ubuntu">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Solar_panels"><img src="${data_prefix}img/projects/solar panels.jpg" alt="Solar panels fabrication" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Solar_panels">Panneaux solaires</a></h1></header>
    <p>Les panneaux solaires deviennent moins chers et plus performants chaque année . Nous créons une usine de fabrication à Rojava pour résoudre les besoins électriques de Rojava de manière écologique.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Solar_panels">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/3D_printing"><img src="${data_prefix}img/projects/3d-printing.jpg" alt="3D printing has many applications" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/3D_printing">Impression 3D</a></h1></header>
    <p>Nous avons besoin d' imprimantes 3D ! Les imprimantes 3D peuvent créer des bras de remplacement et des jambes , des outils pour les laboratoires et les écoles , et même faire des moules métalliques . Il y a beaucoup de possibilités, et Rojava a besoin de cette technologie.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/3D_printing">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Plastic_greenhouses"><img src="${data_prefix}img/projects/plastic greenhouse.jpg" alt="Plastic greenhouses" />Des serres en plastique</a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Plastic_greenhouses">Plastic greenhouses</a></h1></header>
    <p>Rojava a un problème d'eau . Cela n'aide pas que la Turquie construit des barrages . Ces serres piègent l'eau à l'intérieur , et permettent une plus grande variété de cultures.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Plastic_greenhouses">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Education"><img src="${data_prefix}img/projects/education.jpg" alt="Education projects" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Education">Projets d'éducations</a></h1></header>
    <p>Le système d'éducation ici est part de zéro. Ceci est l'occasion de créer une nouvelle pédagogie sur tous les sujets.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Education">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Moringa"><img src="${data_prefix}img/projects/moringa.jpg" alt="Moringa trees" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Moringa">Arbres Moringa</a></h1></header>
    <p>La Moringa est une plante miraculeuse ayant de nombreuses utilisations. Nous voulons introduire la Moringa à cet environnement, et arrêter la croissance du désert.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Moringa">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<article>
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects/Biogas"><img src="${data_prefix}img/projects/biogas.jpg" alt="Biogas production" /></a>
    <header><h1><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Biogas">Production de biogaz</a></h1></header>
    <p>Générer du gaz pour cuisiner et produire du chauffage à partir de déchets ménagers.</p>

    <!--<div class="facebook-like"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=180586695331037&amp;xfbml=1"></script><fb:like href="http://foodsense.is/tastemakers/dairy-free-chocolate-ice-cream-torte" send="false" layout="button_count" width="180" show_faces="false" action="like" font="lucida grande"></fb:like></div>-->
    <footer>
        <p class="fn url girl"><a href="http://wiki.rojavaplan.com/index.php?title=Projects/Biogas">Voir la page Wiki &rarr;</a></p>
    </footer>
</article>

<div id="pagination">
    <span class="hide">|</span> 
    <a href="http://wiki.rojavaplan.com/index.php?title=Projects" class="button older">All Projects &raquo;</a>
</div>

	<h3>Expect Us!</h3>

    <p>After the bourgeois revolutions two centuries ago, the power of God led to the power of money, and nationalism replaced religion as the system of human opression.</p>
    <p>The communist revolution brought us equality but not freedom. One century after, capitalism and nation-states, both forming an inseparable being which we call 'the System', is stronger than ever. But so are we.</p>
    <p>Some pro-democracy movements and freedom fighters all over the world have given up hope, reaching the conclusion that this is “the end of history”, that state capitalism has won for good, that there is no other choice: both human society and the natural environment are doomed. Yet, the minute you step in Rojava it becomes clear how this is all just nonsense.</p>
    <p>For a long time we have been training for this, in Chiapas, Wall Street, Catalunya, South America, Greece… In Rojava they are finally doing it.</p>
    <p>If the Rojava revolution goes on it can spread to the minds of those who are ready for freedom.</p>
    <p>Humankind is like a butterfly trapped in the larval stage. This can be the beginning of the metamorphose: from centralized, authoritarian structures to the new free p2p network society; from nation-states to democratic confederalism.</p>
    <p>They have the money, but we have the internet. And we can now make our own money.</p>
    <p>So grab your laptop and come to Rojava now. Stop saying you can be more useful in your country. Stop the bullshit. Wake up!</p>
    <p>This is not an operation. This is a plan. It's what you've been preparing for.</p>

    <h3>Getting Started</h3>

    <p>Visit <a href="http://wiki.rojavaplan.com">our wiki</a> for info on our projects and detailed resources. Here you can find more about our work in Rojava.</a>

    <p>The <a href="${prefix}contribute.html">contribute page</a> lists various ways people for people to participate and help this cause.</p>

    <p>If you are ready to come, then head to the <a href="${prefix}join.html">join section</a>.</p>

    <p>You can also invest in our work by <a href="${prefix}donate.html">sending a donation</a>.</p>

</section><!-- /#main -->

