<header role="page">
	<h1 class="about icon">About</h1>
	<p>Rojava Plan, it's what you've been waiting for.
    We have a unique opportunity, all of us, to participate in
    creating a new society and proving that our ideas work.</p>
</header>
<section id="main">
<p align="center"><img alt="anon-logo" height="150" src="${prefix}img/RP_logo.svg"></p>

<p>Our goal is singular; development of a free world, and we believe that starts here, with Rojava.</p>

	<h3>Rojava Plan</h3>

<p><img alt="About us" class="border right" src="${prefix}pics/aboutpic.jpg">
Our goal is singular; development of a free world, and we believe that starts here, with Rojava.</p>

<p>
Rojava Plan is a movement to create a global network of democratic societies.
That starts now with Rojava as a model for the world.
And we too are learning by being here.
</p>

<p>Thanks so much for stopping by. Be sure to check <a href="http://wiki.rojavaplan.com">our wiki</a>. Whether you’re here to join us, offer help or cruising by - Welcome!</p>

<p><em>- Rojava Plan</em></p>

<h3>About Rojava</h3>

<p>Rojava is an autonomous region in north Syria. The region gained its autonomy in November 2013 in the process of the Syrian uprising, establishing a society based on principles of direct democracy, gender equity, and sustainability. Rojava consists of the three cantons called Jazira, Kobani and Afrin.</p>

<p>For more info on Rojava, see the <a href="https://en.wikipedia.org/wiki/Rojava">Wikipedia entry</a> or our <a href="${prefix}join-3-1-resources.html">resources page</a>.</p>

</section><!-- /#main -->

