<aside role="sub">

	<h4 class="clear">Categories</h4>
	<ul id="nav_categories" class="nav_categories">
	<li>
	<a href="${prefix}category/society.html">Society</a>
	</li>
	<li>
	<a href="${prefix}category/economy.html">Economy</a>
	</li>
	<li>
	<a href="${prefix}category/health.html">Health</a>
	</li>
	<li>
	<a href="${prefix}category/scitech.html">Science & Tech</a>
	</li>
	<li>
	<a href="${prefix}category/artsmusic.html">Arts & Music</a>
	</li>
	<li>
	<a href="${prefix}category/frontline.html">Frontline</a>
	</li>
	<li>
	<a href="${prefix}category/world.html">World</a>
	</li>
	<li>
	<a href="${prefix}category/videoreports.html">Video Reports</a>
	</li>
	<li>
	<a href="${prefix}category/inpictures.html">In Pictures</a>
	</li>
	<li>
	<a href="${prefix}category/specialreports.html">Special Reports</a>
	</li>
	<li>
	<a href="${prefix}category/explainers.html">Explainers</a>
	</li>
	<li>
	<a href="${prefix}category/opinion.html">Opinion</a>
	</li>
    </ul>
	
	<h4>Archives</h4>
	<ul>
	<li><a href="${prefix}archive/nov-2015.html">November 2015</a></li>
	</ul>
</aside>

