<header role="page">
    <h1 class="contribute icon">Contribute</h1>
	<p>We recognise that not everywhere is able to uproot. Some people
    have children to look after, others are sick and some just aren't
    ready to abandon their old life.</p>
<p><strong>Lets Make The New Society Together</strong></p>
</header>

<section id="main">
    <p>Discover our projects in the <a href="http://wiki.rojavaplan.com">wiki</a>.</p>

    <h3>Fund The Cause</h3>

    <p>Contribute to our <a href="https://coopfunding.net/en/campaigns/feed-the-revolution" target="_blank"><strong>#FeedTheRevolution</strong> campaign</a>.</p>

<p align="center"><img src="http://rojavaplan.com/pics/feedtherev.jpg" alt="feed the revolution" width="500" /></p>

    <p>A very big way to support our work is with a <a href="/donate.html">donation</a>.</p>

    <p><strong>Bitcoin</strong> address: <a target="_blank" href="https://blockchain.info/address/1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7"><strong>1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7</strong></a></p>

	<h3>Translation Work</h3>

    <p>We need people who can help translate material into different languages.</p>

    <p>Most of all we need Kurdish translators. There is a lot of information that can help Rojava's society massively but it needs to be translated to Kurdish. Also people are needed who can translate material from Kurmanci, Arabic or Turkish into English, Mandarin, Hindu, French, Spanish and other widely spoken languages. Finally we need Assyrian/Aramaean translators.</p>

    <p>Please <a href="/contact.html">contact us</a> if you are able to translate
    between languages.</p>

    <h3>Specialist Advice and Help</h3>

    <p>If you are a specialist in the fields of science, engineering, technology, media or
    anything then we need your knowledge. Please reach out to us to offer your help.</p>

    <h3>Promotion, Networking and Street Campaigning</h3>

    <p>Hit the streets, spread the Rojava Plan globally, get campaigning and promote us on
    social media. We want everyone to see what is happening in Rojava.</p>

    <p>If you know affinity groups, then make sure they know about us. Make the connection.
    We are looking for friends to link up with around the world who share our goals.</p>

    <h3>Transcribers and Editors</h3>

    <p>We have lots of scanned images that need transcribing and copying into text format,
    so that the information can be collated and better used.</p>

</section><!-- /#main -->

