<header role="page">
    <h1 class="faqs icon">FAQs</h1>
	<p>You have questions. We have answers.</p>

</header>

<section id="main">
    <!--
	<h3>A Question</h3>

<p>And an Answer...</p>
-->

<h3>Who can join?</h3>
<p>Only the people who have thoroughly read and understood our website. We don't ask you your age, nationality, gender, or religion. We treat Kurds and non-Kurds exactly the same. We do, however, ask you some questions which we expect you to answer when you contact us.</p>

<h3>How much money should I bring?</h3>
<p>It's up to you. Around 200US$ for emergencies is advised. Once in Rojava, basic needs are covered, so you don't really need money. However, having your own money will make you more autonomous, and will help the local economy. We will appreciate if you can bring some extra cash to exchange for cryptocurrency here, which you can keep or send to your country. There are no banks, so credit or debit cards are useless here.</p>

<h3>How is the internet?</h3>
<p>Generally bad, but we have some places with good internet. The only ISP is Turkcell, a Turkish company.</p>

<h3>What's the currency in Rojava?</h3>
<p>Syrian pounds. US$ are also widely accepted. We also use bitcoin and faircoin. Other currencies can be easily exchanged in all major cities. 1 US$ is about 340 pounds.</p>

<h3>What are prices like in Rojava?</h3>
<p>A taxi will cost you from .05 to 1.50 US$. 1 kg of bread is about .20 US$. You can eat at a restaurant for 2 to 10 $. A hard drive is around .10 $/Gb.</p>

<h3>How long is the YPG training?</h3>
<p>Basic combat training is two weeks. There is also a longer training which includes language and ideology.</p>

<h3>How do I get to Kurdistan? What's the price of the ticket? Do I need a visa? Which city should I fly to? ...?</h3>
<p>Don't worry about that now. We'll go through all travel details once you're ready to come.</p>

<h3>Should I bring military gear or Kurmanci books with me, or will it look suspicious?</h3>
<p>It's fine, but you should check your own country's regulations regarding transportation of military stuff.</p>

<h3>Will I have legal problems in my country for supporting YPG?</h3>
<p>No, you won't. We work exclusively with the civil society, and have no relation to YPG, PKK, or any armed group whatsoever. Your government will probably try to talk you out of coming to Kurdistan, and threaten you with legal prosecution, they might even try to blackmail your family, but be sure there's nothing they can do to stop you, and absolutely no legal ground to prosecute you.</p>

<h3>Do I need a visa to go to Kurdistan?</h3>
<p>We don't know. You need to find that out yourself.</p>

</section><!-- /#main -->

