
<footer role="siteinfo">
    <p id="languages">
    <a href="/es/">Español</a> |
    <a href="/fr/">Français</a> |
    <a href="/pt/">Português</a>
    </p>
    <p>
    <a href="${prefix}donate.html"><strong>Donate</strong></a> |
    <a href="http://wiki.rojavaplan.com">Wiki</a> |
    <a href="${prefix}about.html">About</a> |
    <a href="${prefix}contact.html">Contact</a> |
    <a href="${data_prefix}uploads/press_kit.zip">Press Kit</a> |
    <a href="${prefix}faqs.html">FAQ</a>
    <br>
    Licensed <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons SA</a>, Rojava Plan.
    </p>
	<div class="social">
		<ul>
			<li class="twitter"><a target="_blank" href="https://twitter.com/RojavaPlan">Twitter</a></li>
			<li class="facebook"><a target="_blank" href="https://www.facebook.com/RojavaPlan">Facebook</a></li>
			<li class="rss"><a target="_blank" href="https://reddit.com/r/rojava">Follow Rojava on Reddit</a></li>
		</ul>
	</div>
</footer>

</div><!-- /#wrap -->
	
</body></html>

