<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js wf-fftisawebpro-n4-active wf-fftisawebpro-i4-active wf-fftisawebpro-n7-active wf-fftisawebpro-i7-active wf-active" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Rojava Plan | ${title}</title>
<meta name="description" content="Rojava news and articles on the democratic revolution and anarchism in Kurdistan. Come and participate - Rojava needs your solidarity!">
<meta name="author" content="Rojava Plan">
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<!-- CSS -->
<link rel="stylesheet" media="screen, print" href="${res_prefix}css/basic.css">
<!--[if gte IE 7]><!-->
<link rel="stylesheet" media="screen" href="${res_prefix}css/screen.css">
<!--<![endif]-->

<link rel="shortcut icon" type="image/ico" href="${res_prefix}img/favicon.png">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75904335-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
	
<body id="home-page">

<div id="blackness"></div>

<div id="wrap">

<div id="blackness_desktop">
<header role="masthead">
    <a href="${prefix}"><h1 id="branding">Rojava Plan</h1></a>
	<nav>
		<ul>
			<li id="t-rpmain"><a href="${prefix}rojavaplan.html">The Pl&#9398;n</a></li>
			<li id="t-news"><a href="${prefix}news.html">News</a></li>
			<li id="t-join"><a href="${prefix}join.html">Join</a></li>
			<li id="t-contribute"><a href="${prefix}contribute.html">Contribute</a></li>
		</ul>
	</nav>
</header>
	
<aside role="social">
    <section class="language">
        <h1>¡Hola! Bonjour! Mêrheba!</h1>
        <p>
            <a href="/es/">Español</a> |
            <a href="/fr/">Français</a> |
            <a href="/pt/">Português</a>
        </p>
    </section>
	<section class="twitter"> 
		<h1>Latest Tweet</h1>
		
		<p><a target="_blank" href="https://twitter.com/aborirojava" class="button">Economic Committee</a></p>
	</section> 
	<section class="facebook">
		<h1>Fund the revolution</h1>
		<p>Donate <a href="${prefix}donate.html">here</a></p>
		<p></p>
	</section>
</aside><!-- /aside -->
</div>

