<header role="page">
    <h1 class="join icon">Join</h1>
</header>


<section id="main">
	<h3>Books and Other Resources on Rojava</h3>

    <p><a href="${data_prefix}uploads/amountainriver-web.pdf"><img alt="About us" class="border right" src="${prefix}pics/asmallkeycanopenalargedoor.jpg"></a>
    You should read the <a href="${data_prefix}uploads/amountainriver-web.pdf">introduction for "A Small Key Can Open A Large Door"</a>. This will familiarize you with the situation on the ground here, and give you an overview of the background behind the fight in Rojava.
</p>

<p>Another book you should read, is the pamplet on Democratic Confederalism by Abdullah Ocalan. This forms the basis for the system that is being created in Rojava:</p>

<ul>
    <li><a href="${data_prefix}uploads/ocalan/Ocalan-Democratic-Confederalism.pdf">Democratic Confederalism</a> (English)</li>
    <li><a href="${data_prefix}uploads/ocalan/Abdullah-Ocalan-Confederalisme-democratique.pdf">Confédéralisme démocratique</a> (Français)</li>
    <li><a href="${data_prefix}uploads/ocalan/Confederalismo-Democratico.pdf">Confederalismo Democrático</a> (Español)</li>
    <li><a href="${data_prefix}uploads/ocalan/Abdullah-Ocalan-Demokratischer-Konfoderalismus.pdf">Demokratischer Konföderalismus</a> (Deutsch)</li>
</ul>

<blockquote>The democratic confederalism of Kurdistan is not a State system, it is the democratic system of a people without a State… It takes its power from the people and adopts to reach self-sufficiency in every field including the economy.</blockquote>

<p class="go-next">Next: 3.2. <a href="${prefix}join-3-2-personal-account.html">Personal Account of Rojava</a></p>

</section><!-- /#main -->

