<header role="page">
    <h1 class="join icon">Join</h1>
</header>

<section id="main">
	<h3>What You Can Do Here</h3>

    <p>It is important that everybody able and willing comes here to participate and make this revolution happen.</p>

    <p>If you have specialist knowledge in expertise fields, there is a huge wealth of opportunities for you here to participate from training to organising and supporting others and working with the Rojavan institutions on exciting new projects.</p>

    <p>But most of all, your motivation is more important than your skills.
    Anyone with drive can learn anything. We live together communally. Friendly,
    working, revolutionary environment.</p>

    <h3>Who We Need</h3>

    <p>The list below is only a suggestion. We are open to all kinds of
    people.</p>

    <p>Electrical engineers</p>

    <ul>
        <li>Supervise repair and maintenance of ageing electrical infrastructure.</li>
    </ul>

    <p>Agricultural experts</p>

    <ul>
        <li>Know about different crop types</li>
        <li>Promote use of more ecological techniques</li>
        <li>Previous regime only allowed wheat. Knowledge of other crops lacking.</li>
        <li>Insect waves killing a lot of vegetables, and nobody knows why.</li>
    </ul>

    <p>Architects</p>

    <ul>
        <li>Interest in new construction techniques</li>
    </ul>

    <p>Artists</p>

    <ul>
        <li>Street artists to decorate Rojava.</li>
        <li>Promote an art culture to reinforce revolutionary values.</li>
    </ul>

    <p>Health workers</p>

    <ul>
        <li>There is a huge dearth of trained doctors in Rojava.</li>
        <li>Doctors are needed to provide training to locals here.</li>
    </ul>

    <p>Economy</p>

    <ul>
        <li>Knowledge about sustainable cooperative models</li>
        <li>Interest and experience in solidarity-based economy</li>
    </ul>

    <p>Engineers</p>

    <ul>
        <li>Fridges, mills, refineries, … everything is needed</li>
        <li>Big need to construct new factories and re-activate old ones</li>
        <li>OpenSource Ecology philosophy suits Rojava economy</li>
        <li>Need to build/maintain machines like tractors or workshop machines</li>
    </ul>

    <p>Health workers</p>

    <ul>
        <li>Train people here</li>
        <li>Doctors with different specialities</li>
        <li>Anaesthetic technicians</li>
        <li>Midwifes needed</li>
        <li>Animal veterinarians needed.</li>
        <li>Computer IT infrastructure for general hospital administration.</li>
    </ul>

    <p>Media</p>

    <ul>
        <li>Document the reality here so people understand the situation.</li>
        <li>Pass on skills to empower society with a voice to advocate for themselves.</li>
    </ul>

    <p>Scientists</p>

    <ul>
        <li>Nurture a native scientific culture</li>
        <li>Extend knowledge to civic society for things like testing water.</li>
        <li>Research for a people’s economy</li>
        <li>Ecological preservation</li>
        <li>Chemists needed for economical projects</li>
    </ul>

    <p>Technical</p>

    <ul>
        <li>Internet infrastructure from construction of antennas to networking.</li>
        <li>Programmers to help create information systems, and teach this knowledge.</li>
        <li>Linux and opensource enthusiasts to teach in schools.</li>
        <li>Electronics experts to help create a local electronics industry.</li>
        <li>Interest in these projects: Bitcoin, 3D printing, Linux, guifi.net</li>
    </ul>

<p class="go-next">Next: 2. <a href="${prefix}join-2-learn-kurdish.html">Learn the Kurdish Language</a></p>

</section><!-- /#main -->

