<header role="page">
    <h1 class="join icon">Join</h1>
</header>

<section id="main">
	<h3>What To Expect</h3>

<p>Rojava is in a very historic moment in time. It is a symbol which we can point to and show the success of a federated localized society. There is a lot of pluralism and efforts to value women, religion, other languages and equality between ethnic groups. Revolutionary change is not percieved primarily as an outside process but as change of one self. Gender liberation is not achieved by "giving women more rights", but by criticising and ultimately changing what we percieve to be the roles "men" and "women". People are very open to outsiders with new ideas and this is a revolution being made by people of all backgrounds and types. That’s not to say there aren’t big problems we face. This is not the revolutionary disneyland that some media sources proclaim. However, with the help of the right analysis and historical view these difficulties can be overcome. This process itself is the revolution. This is as real as it gets, and this is a new world full of opportunity.</p>

<p>Due to the difficulties bringing people over we can only accept people that are willing to stay for at least six months. To properly learn the language and be able to make a contribution here you should aim for a longer stay though, ideally a year or longer</p>

<p>You will probably spend at least a month learning the language and about
Rojava before starting your work, bit by bit.
You may well be working alongside different ethnical, political,
ideological, and religious people and expected to adapt and integrate. You will
be expected to participate in daily life tasks (cooking, cleaning).</p>

<p>Everybody joins the <a href="${prefix}rojavaplan.html">projects</a>,
and we are also open to other suggestions if people want to propose another
project. We will see how to support your work. If you can cover the project
expenses or know how to procure funds for it, then that solves many problems.</p>

<p>We do advise specialists to bring tools they need for work as these might be difficult to procure in Rojava (lab equipment, range finders or camera lenses as examples).</p>

<p class="go-next">Next: 6. <a href="${prefix}join-6-ready.html">I’m Ready To Come</a></p>

</section><!-- /#main -->

