<header role="page">
    <h1 class="join icon">Join</h1>
    <p>Rojava is the start. There is lots to do. We need skilled and
    revolutionary people who are motivated. We need specialists of all
    kinds.</p>
</header>

<section id="main">
	<h3>Rojava is a New Revolutionary Confederation</h3>

<p><a href="https://en.wikipedia.org/wiki/Rojava">Rojava</a> is an autonomous region in north Syria. The region gained its
autonomy in the summer of 2012 in the process of the Syrian uprising, establishing
a society based on principles of direct democracy, gender equity, and sustainability.
Rojava consists of the three cantons called Jazira, Kobani and Afrin.</p>

<p><small><strong>Listen:</strong> We get lots of messages from people who
have not read this site. Before you send us a message, go through and read
everything. This is serious business, and if you send a one liner email without
having read the info here then you are wasting our time and leaving a bad
impression. We want serious people to come.</small></p>

<h3>What You Should Expect</h3>

<p>Coming to Rojava is a big decision, and you should understand fully
what you are getting into so you feel prepared.</p>

<p><em>This is a revolution, not a Facebook event.</em></p>

<p>Also bear in mind that:</p>

<ul>
    <li>We do not pay volunteers.</li>
    <li>You should aim for 6 months or more.</li>
    <li>We do not accept tourists. People join these
        <a href="${prefix}rojavaplan.html">projects</a>.</li>
    <li>We all desire true freedom. We work towards this goal.</li>
</ul>

<h3>Get Started With The Guide</h3>

<p>To get started, follow this guide:</p>

<ol>
    <li><a href="${prefix}join-1-what-can-you-do.html">What You Can Do Here</a></li>
    <li><a href="${prefix}join-2-learn-kurdish.html">Learn the Kurdish Language</a></li>
    <li><a href="${prefix}join-3-preparing-yourself.html">Preparing Yourself and Packing List</a>
        <ul>
            <li><a href="${prefix}join-3-1-resources.html">Books and Other Resources on Rojava</a></li>
            <li><a href="${prefix}join-3-2-personal-account.html">Personal Account of Rojava</a></li>
        </ul>
    </li>
    <li><a href="${prefix}join-4-the-journey.html">The Journey Here</a></li>
    <li><a href="${prefix}join-5-what-to-expect.html">What To Expect</a></li>
    <li><a href="${prefix}join-6-ready.html">I’m Ready To Come</a></li>
</ol>

<p>You should study the information above so that you can fully
understand the situation you are about to enter.</p>

<p class="go-next">Next: 1. <a href="${prefix}join-1-what-can-you-do.html">What You Can Do Here</a></p>

</section><!-- /#main -->

