<header role="page">
    <h1 class="join icon">Join</h1>
</header>

<section id="main">
	<h3>I'm Ready To Come</h3>

    <p>After <a href="${prefix}join.html">studying the material</a> and if you’re ready you should send an email answering these questions:</p>

    <ul>
        <li>What is your background and experience?</li>
        <li>What is your motivation for coming here?</li>
        <li>How do you see what is happening in Rojava?</li>
        <li>What are your skills and specialities?</li>
        <li>What about this place interests you?</li>
        <li>What would you like to do here?</li>
        <li>How long you plan to stay?</li>
        <li>When will you be ready to come?</li>
        <li>A bullet point resume list.</li>
    </ul>

    <p>Please send useful answers that explain yourself fully.</p>

    <p>You must bring a copy of these 2 texts:</p>

    <ul>
        <li><a href="${prefix}uploads/kurdish/kurmanji-basic.pdf">Kurmanji basic</a> language course.</li>
        <li><a href="${prefix}uploads/amountainriver-web.pdf">Introduction to Rojava</a> from the book “A Small Key Can Open A Large Door”</li>
    </ul>

    <p>Use the <a href="${prefix}contact.html">contact page</a> to message us.</p>

</section><!-- /#main -->


