<header role="page">
    <h1 class="join icon">Join</h1>
</header>

<section id="main">
	<h3>Learn the Kurdish Language</h3>

<p>The main languages spoken in Rojava are Arabic (most widely spoken), Kurdish (widely used) and Turkish. Without being able to speak one of these languages, you will be unable to work here effectively and only be given limited roles under supervision.</p>

<p>Learning Kurdish is far easier than Arabic, and you’ll be able to communicate with the majority of people you interact with. We suggest simply learning Kurdish which is widely understood.</p>

<p>To maximise your potential, we suggest that people who arrive here take the time to learn Kurdish. When here, we'll help you learn Kurdish with courses and placements. But before you arrive here, you can begin your preparations. The effort you put in will help you before you arrive, but don’t be put off by not seeing progress. The grammar you memorise will help towards picking up the language once you learn the words in Rojava.</p>

<p>First we recommend you bring a laptop which will enable you to work, read documents and so on. A small phone for loading the WQFerheng dictionary (see dictionaries section below) is very useful too. A tablet is less effective, but if you have one you can also bring it. An ebook reader is also a good idea if you plan to go to the war front as their battery lasts a long time.</p>

<p>You can right click these documents, and select “Save Link As…” to download them on your computer.</p>

<ul>
    <li>The recommended study book is <a href="${prefix}uploads/kurdish/kurmanji-basic.pdf">Kurmanji basic</a> and required reading before coming here. It will only teach you the basic grammar, as you will easily pick up vocabulary here.</li>
    <li>For intermediate level, study <a href="${prefix}uploads/kurdish/Kurmanji_Kurdish_Fort_The_Beginners.pdf">“Kurmanji Kurdish For The Beginners”</a>.</li>
    <li>The book <a href="${prefix}uploads/kurdish/Learn_Kurdish.pdf">Learn KURDISH</a> by Baran Rizgar is comprehensive with lots of examples and useful info you won’t find in other books.</li>
    <li>Another useful book is <a href="${prefix}uploads/kurdish/ingilizikurdi.pdf">“Em hînî Kurmancî dibin”</a>.</li>
    <li>Here is a Kurdish grammar book <a href="${prefix}uploads/kurdish/kurmanji_1_grammar.mobi">for EBook readers</a>.</li>
    <li>This is a <a href="${prefix}uploads/kurdish/Kurmanji_Kurdish_A_Reference_Grammar.pdf">good reference book</a> on Kurdish grammar</a>.</li>
    <li>The website <a href="http://learnkurmanji.com/">LearnKurmanji</a> is a great starting resource with lots of video and lessons for beginners.</a>
</ul>

<p>Dictionaries:</p>

<ul>
    <li><a href="${prefix}uploads/kurdish/kurmanji-english.pdf">This is the best</a> dictionary available but is only Kurdish to English.</li>
    <li>In the “Kurmanji Kurdish For The Beginners” book listed above, there is also a searchable index at the end of the book.</li>
    <li>Here are 3 Kurdish to Kurdish dictionaries: <a href="${prefix}uploads/kurdish/Ferhenga Desti.pdf">1</a>, <a href="${prefix}uploads/kurdish/Ferhenga Kameran.pdf">2</a>, and <a href="${prefix}uploads/kurdish/Ferhenga Peyvname II (kurdi bi kurdi).pdf">3</a>.</li>
    <li>Here's <a href="${prefix}uploads/kurdish/WQFerheng_3.9.apk">WQFerheng</a>, an app for Android. You can also find it in the Google Play store. This is a great resource to have in your pocket when out and about. Highly recommended.</li>
</ul>

<p>Anki flashcards. To use them, follow these steps:</p>
<ul>
    <li>Install Anki (Linux):
        <ol>
            <li><strong>Download.</strong> Save <a href="${prefix}uploads/kurdish/anki-2.0.33.deb">this file</a>.</li>
            <li><strong>Install.</strong> Go to where you saved the file and type: sudo dpkg -i anki-2.0.33.deb</li>
            <li><strong>Run.</strong> Type: anki</li>
        </ol>
    </li>
    <li>Install Anki (other OS):
        <ol>
            <li>Follow the instructions on <a href="http://ankisrs.net/">Anki's website</a>.</li>
        </ol>
    </li>
    <li>Use the cards:
        <ol>
            <li>Download and save <a href="${prefix}uploads/kurdish/kurmanji_cards.zip">the cards</a>.</li>
            <li>Run Anki, click on 'Import file' and import the cards.</li>
            <li>Click on one of the cards, and start studying!</li>
        </ol>
    </li>
</ul>

<p>Check out <a target="_blank" href="http://ku.hawarnews.com/">Hawar News</a> for news articles in Kurdish.</p>

<p class="go-next">Next: 3. <a href="${prefix}join-3-preparing-yourself.html">Preparing Yourself and Packing List</a></p>

</section><!-- /#main -->

