<header role="page">
	<h1 class="about icon">About</h1>
	<p>Rojava Plan &eacute; o que voc&ecirc; estava esperando. N&oacute;s
temos a oportunidade &uacute;nica, todos n&oacute;s, de participar da
cria&ccedil;&atilde;o de uma nova sociedade, e provar que nossas ideias
funcionam.</p>
</header>
<section id="main">
<h3>Rojava Plan</h3>

<p><img alt="About us" class="border right" src="${prefix}pics/aboutpic.jpg">
Nosso objetivo &eacute; &uacute;nico; o desenvolvimento de um mundo
livre, e n&oacute;s acreditamos que come&ccedil;a aqui, com Rojava.</p>

<p>Rojava Plan &eacute; o movimento de cria&ccedil;&atilde;o de uma
rede internacional de sociedades democr&aacute;ticas. Esta rede
come&ccedil;a agora com Rojava, como um modelo para o mundo. E
n&oacute;s tamb&eacute;m estamos aprendendo por come&ccedil;ar aqui</p>

<p>Muito obrigado pela visita. Be sure to check <a href="http://wiki.rojavaplan.com">our wiki</a>. Se voc&ecirc; est&aacute; aqui para se juntar a n&oacute;s, para oferecer ajuda ou s&oacute; est&aacute; de passagem - Bem-vindo!</p>

<p><em>- Rojava Plan</em></p>

<h3>Sobre Rojava</h3>

<p>Rojava &eacute; uma regi&atilde;o aut&ocirc;noma no norte da
S&iacute;ria. A regi&atilde;o ganhou autonomia em Novembro de 2013, no
processo da revolu&ccedil;&atilde;o S&iacute;ria, estabelecendo uma
sociedade baseada nos princ&iacute;pios da democracia direta, igualdade
de g&ecirc;nero e sustentabilidade. Rojava consiste em tr&ecirc;s
cant&otilde;es chamados Jazira, Kobani e Afrin.</p>

<p>Para mais informa&ccedil;&otilde;es sobre Rojava, consulte a p&aacute;gina do <a href="https://pt.wikipedia.org/wiki/Curdist%C3%A3o_s%C3%ADrio" target="_blank">Wikipedia</a>, ou nossa <a href="/join-3-1-resources.html">p&aacute;gina de recursos</a>.</p>

</section><!-- /#main -->
