<aside role="sub">

	<h4 class="clear">Categorias</h4>
	<ul id="nav_categories" class="nav_categories">

    <li>
    <a href="${prefix}category/sociedade.html">Sociedade</a>
    </li>

    <li>
    <a href="${prefix}category/economia.html">Economia</a>
    </li>

    <li>
    <a href="${prefix}category/saude.html">Saúde</a>
    </li>

    <li>
    <a href="${prefix}category/ciencia.html">Ciência e tecnologia</a>
    </li>

    <li>
    <a href="${prefix}category/arte.html">Arte & Música</a>
    </li>

    <li>
    <a href="${prefix}category/guerra.html">Guerra</a>
    </li>

    <li>
    <a href="${prefix}category/mundo.html">Mundo</a>
    </li>

    <li>
    <a href="${prefix}category/video.html">Reportagens em Vídeo</a>
    </li>

    <li>
    <a href="${prefix}category/imagens.html">Em Imagens</a>
    </li>

    <li>
    <a href="${prefix}category/especial.html">Relatórios Especiais</a>
    </li>

    <li>
    <a href="${prefix}category/explicasoes.html">Explicações</a>
    </li>

    <li>
    <a href="${prefix}category/vista.html">Vista</a>
    </li>

    </ul>
	
	<h4>Arquivo</h4>
	<ul>
	<li><a href="${prefix}archive/feb-2016.html">fevereiro 2016</a></li>
	</ul>
</aside>

