<header role="page">
<h1>Contato</h1>

</header>

<section id="main">
<h3>Envie-nos um E-mail</h3>

<p>Se voc&ecirc; quer juntar-se a n&oacute;s, primeiro voc&ecirc; precisa ler o guia em <a href="${prefix}join.html">Juntando-se</a>. Tenha certeza que voc&ecirc; entendeu a informa&ccedil;&atilde;o antes de nos contactar. </p>

<p>Nosso E-mail &eacute;:</p>

<p><img src="${data_prefix}pics/email.png" /></p>

<p>Por favor, seja paciente, pois recebemos muitos e-mails. Pode
demorar 5 dias para respondermos. Se depois de 7 dias voc&ecirc;
n&atilde;o for respondido, ent&atilde;o voc&ecirc; pode enviar o e-mail
novamente.</p>

<h3>Proteja seus E-Mails com softwares de encripta&ccedil;&atilde;o</h3>

<p>Softwares de encripta&ccedil;&atilde;o protegem seus meios de
comunica&ccedil;&atilde;o. Evita que grupos maliciosos interceptem suas
mensagens e as leiam. N&oacute;s recomendamos aprender m&eacute;todos
de encripta&ccedil;&atilde;o para sua seguran&ccedil;a.</p>

<p>Recomendamos comunica&ccedil;&atilde;o encriptada atrav&eacute;s de
PGP. Aqui est&atilde;o alguns guias para sistemas operacionais comuns:</p>

<ul>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-windows">Windows</a></li>
    <li><a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x">Mac OS X</a></li>
    <li><a href="https://securityinabox.org/en/guide/apg/android">Android</a></li>
</ul>

<p>Uma op&ccedil;&atilde;o menos segura &eacute; o <a href="https://www.mailvelope.com/" target="_blank">Mailvelope</a> para Chrome e Firefox</p>

<h3>Enviando-nos um E-Mail encriptado</h3>

<p>Depois de configurar o PGP, voc&ecirc; deve importar nossa chave no seu software, e deve nos mandar sua chave</p>

<p>Aqui est&aacute; <a href="${data_prefix}uploads/rojava_plan.key.asc">nossa chave PGP</a>, para mandar-nos um e-mail encriptado. Voc&ecirc; precisa disso para nos enviar e-mails.</p>

<p>Baixe no seu computador e importe para seu software de encripta&ccedil;&atilde;o.</p>

<p>Voc&ecirc; tamb&eacute;m deve nos mandar sua chave PGP. N&oacute;s precisaremos para ler a mensagem e lhe responder.</p>

<p>Esse processo &eacute; chamado "Troca de chaves". Lembre-se de
incluir sua chave p&uacute;blica (n&atilde;o inclua a chave privada,
apenas a p&uacute;blica). Dever&aacute; ter um bot&atilde;o no seu
software chamado "Attach My Public Key", ou anexe sua chave p&uacute;blica no e-mail.</p>

</section><!-- /#main -->
