<header role="page">
<h1 class="contribute icon">Contribua</h1>
<p>N&oacute;s sabemos que nem todo mundo &eacute; capaz de mudar, sair
do pa&iacute;s. Algumas pessoas t&ecirc;m crian&ccedil;as para cuidar,
outras est&atilde;o doentes e alguns ainda n&atilde;o est&atilde;o
preparados para abandonar a antiga vida, rotina.</p>
<p><strong>Vamos Fazer Uma Nova Sociedade Juntos</strong></p>
</header>

<section id="main">
    <p>Discover our projects in the <a href="http://wiki.rojavaplan.com">wiki</a>.</p>

<h3>Trabalho de tradu&ccedil;&atilde;o</h3>
    
<p>Precisamos de pessoas que possam nos ajudar a traduzir materiais em diferentes l&iacute;nguas.</p>
    
<p>Mais que tudo, precisamos de tradutores para Curdo. N&oacute;s temos muita informa&ccedil;&atilde;o que pode ajudar massivamente no avan&ccedil;o da sociedade de Rojava, mas precisa ser trad uzido para o idioma Curdo.</p>
    
<p>Por favor, entre em <a href="${prefix}contact.html">contato</a> conosco se voc&ecirc; &eacute; capaz de traduzir</p>
    
<h3>Aconselhamento especializado e Ajuda</h3>
    
<p>Se voc&ecirc; &eacute; um especialista nas &aacute;reas de Ci&ecirc;ncia, Engenharia, Tecnologia, M&iacute;dia ou qualquer
&aacute;rea de conhecimento, ent&atilde;o precisamos do seu conhecimento. Entre em contato conosco e ofere&ccedil;a sua ajuda.</p>
    
<h3>Promova, Crie redes e Campanhas urbanas&nbsp;</h3>
    
<p>Atinja as ruas, espalhe o plano de Rojava globalmente, fa&ccedil;a uma camapnha e promova-nos na m&iacute;dia. N&oacute;s queremos que as pessoas saibam o que est&aacute; acontecendo em Rojava.</p>
    
<p>Se voc&ecirc; conhece grupos que tenham afinidade a esses ideais, ent&atilde;o tenha certeza que eles nos conhe&ccedil;am. Fa&ccedil;a a conex&atilde;o. N&oacute;s estamos procurando por amigos para nos ligarmos por todo o mundo, com todos que compartilham dos nossos objetivos.</p>
    
<h3>Transcritores e Editores</h3>
    
<p>Temos muitas imagens escaneadas, e n&oacute;s precisamos trasncrev&ecirc;-las e copi&aacute;-las para o formado de texto, assim a informa&ccedil;&atilde;o pode ser coletada e usada de melhores maneiras.&nbsp;</p>
    
<h3>Financie a causa</h3>
    
<p>Uma grande maneira de suportar nosso trabalho &eacute; a <a href="${prefix}donate.html">doa&ccedil;&atilde;o</a></p>

</section><!-- /#main -->
