<header role="page">
<h1 class="donate icon">Doe</h1>
    
<p>Rojava Plan &eacute; uma rede volunt&aacute;ria. Pessoas atenciosas que deixaram tudo o que tinha apra tr&aacute;s para dar suporte ao projeto Rojava. E n&oacute;s precisamos da sua ajuda.</p>
</header>

<section id="main">
<h3>Patrocine-nos com dinheiro</h3>
   
<p>Ser um revolucion&aacute;rio &eacute; caro. Estamos fazendo grandes coisas com pouco dinheiro. Voc&ecirc; &eacute; parte disso tamb&eacute;m. &Eacute; nosso mundo.</p>
    
<p>Suporte nossa causa com doa&ccedil;&otilde;es.</p>
    
<h4>Bitcoin</h4>
   
<p>Bitcoin: <a target="_blank" href="https://blockchain.info/address/1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7"><strong>1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7</strong></a></p>
    
<p>Bitcoin &eacute; uma moeda que pode ser usada por toda a internet sem revelar sua identidade.</p>
    
<p>Voc&ecirc; pode comprar Bitcoins na internet com o  <a target="_blank" href="https://www.bitquick.co/">BitQuick</a>
&nbsp;ou fisicamente usando <a target="_blank" href="https://localbitcoins.com">LocalBitcoins</a>.</p>
    
<p>Envie o dinheiro para o endere&ccedil;o acima, e n&oacute;s receberemos os fundos. Clique no enderesso para visitar o website onde voc&ecirc; pode ver o balan&ccedil;o, e checar se n&oacute;s recebemos seus Bitcoins</p>
    
<p>Tamb&eacute;m usamos <a target="_blank" href="https://fair.coop/faircoin/">Faircoin</a>:
    <a target="_blank" href="https://chain.fair-coin.org/address/fPa63v9LKq7mQR6Ux3Hz5AdChNFNYbomgP"><strong>fPa63v9LKq7mQR6Ux3Hz5AdChNFNYbomgP</strong></a></p>
    
<p>Obrigado por qualquer contribui&ccedil;&atilde;o. Todas elas contam muito!</p>
    
<p><em>- Rojava Plan</em></p>

</section><!-- /#main -->
