
<div id="content">

	<section id="featured">
		<div style="position: relative;" id="slides">
		
        <!-- class="alt" means it will show on the right -->
	    <section style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 896px;">
        <img src="${data_prefix}pics/victory-sunset.jpg" alt="O que você estava esperando">
		<a href="${prefix}join.html">
		<h1>O que você estava esperando</h1>
		<h2>Junte-se ao movimento, tornar-se um colaborador ou doar para a causa.</h2>
		</a>
		</section>
	
	    </div>
    </section>

<section id="newsletter">
	<p>Registe-se na nossa mailing list para discutir projetos, compartilhar idéias e receber notícias, entregues diretamente para sua caixa de entrada.</p>
    <form class="bold_label" action="https://lists.riseup.net/www" method="post">
        <fieldset>
			<label for="email" class="hide">Email</label>
            <input id="email" type="email" name="email" placeholder="Email">
            <input type="hidden" name="list" value="rojavaplan">
            <input type="hidden" name="action" value="subrequest">
            <input type="hidden" name="via_subrequest" value="1">
            <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Subscribe">
        </fieldset>
    </form>
</section>

<section id="recent" class="blog">
	
