<header role="page">
<h1 class="join icon">Junte-se a n&oacute;s</h1>

Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos&nbsp;&ndash; n&atilde;o s&oacute; combatentes. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos, jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoal cultural.<br>
<strong>Precisamos de voc&ecirc;!</strong>
<br>
</header>

<section id="main">
<h3>O que voc&ecirc; pode fazer aqui</h3>
    
<p>Precisamos de todos, n&atilde;o s&oacute; soldados. &Eacute; importante que todos os que possam e queiram vir &nbsp;participem e fa&ccedil;am a revolu&ccedil;&atilde;o acontecer.</p>
    
<p>Se voc&ecirc; &eacute; Curdo, n&atilde;o fique na sua casa confort&aacute;vel em pa&iacute;ses ocidentais. N&oacute;s precisamos de voc&ecirc; aqui para trabalhar. N&oacute;s precisamos de conhecimento especializado traduzido do Ingl&ecirc;s e outros idiomas. Precisamos de pessoas que possam reportar a nossa situa&ccedil;&atilde;o para a m&iacute;dia ocidental. Precisamos de pessoas que possam ensinar ingl&ecirc;s, para ent&atilde;o a sociedade&nbsp;ter sucesso.</p>
    
<p>Se voc&ecirc; tem conhecimento em &aacute;reas especializadas, particularmente m&iacute;dia ou tecnologia, aqui h&aacute; uma gama de oportunidades para voc&ecirc;, desde o treino at&eacute; a organiza&ccedil;&atilde;o e o suporte a outras pessoas.</p>
    
<p>Mas mais importante &eacute; a sua motiva&ccedil;&atilde;o. Qualquer um com vontade pode aprender qualquer coisa. Tudo aqui &eacute; provido, e as pessoas vivem juntas, em comunidade. Um ambiente amig&aacute;vel, agrad&aacute;vel e revolucion&aacute;rio.</p>

<p>Tamb&eacute;m precisamos de artistas de rua, musicos e pessoal cultural. H&aacute; um renascimento cultural acontecendo, e n&oacute;s acolhemos pessoas que tragam suas influencias e fa&ccedil;am florecer o ambiente de Rojava.</p>
    
<h3>De quem precisamos</h3>
    
<p>Especialistas em agricultura</p>
    
<ul>
        <li>Saber diferentes tipos de cultivos.</li>
        <li>Promover o uso de t&eacute;cnicas ecol&oacute;gicas</li>
        <li>O Regime anterior permitia apenas planta&ccedil;&atilde;o de trigo. &Eacute; necess&aacute;rio o conhecimento de outros tipos de cultivo.</li>
        <li>Ondas de insetos est&atilde;o acabando com as colheitas, e n&atilde;o sabemos o porqu&ecirc;.</li>
</ul>
    
<p>Arquitetos</p>
   
<ul>
        <li>Interesse em novas t&eacute;cnicas de constru&ccedil;&atilde;o</li>
</ul>
    
<p>Artistas</p>
    
<ul>
        <li>Artistas de rua para decorar Roajva.</li>
        <li>Promover a cultura para refor&ccedil;ar valores revolucion&aacute;rios.</li>
</ul>
    
<p>Empres&aacute;rios</p>

<ul>
        <li>Investir e manejar projetos com motiva&ccedil;&otilde;es sociais.</li>
</ul>
    
<p>Engenheiros el&eacute;tricos</p>

<ul>
        <li>Supervisionar o reparo e a manuten&ccedil;&atilde;o de antigas estruturas el&eacute;tricas.</li>

</ul>
    
<p>Engenheiros</p>

<ul>
        <li>Moinhos, refinarias, frigor&iacute;ficos&hellip; Tudo &eacute; necess&aacute;rio</li>
        <li>Grande necessidade de construir novas f&aacute;bricas e reativar as antigas</li>
        <li>Filosofia ecol&oacute;gica OpenSource se encaixa na economia de Rojava</li>
        <li>Necessidade de construir/manter m&aacute;quinas como tratores e oficinas de m&aacute;quinas.</li>
</ul>

<p>Trabalhos na &aacute;rea de Sa&uacute;de</p>

<ul>
        <li>Treinar pessoas</li>
        <li>Doutores com diferentes especialidades</li>
        <li>Anaesthetic technicians</li>
        <li>Precisamos de parteiras</li>
        <li>Precisamos de veterin&aacute;rios para fazendas.</li>
        <li>Infraestrutura de TI para administra&ccedil;&atilde;o Geral de hospitais.</li>
</ul>
    
<p>M&iacute;dia</p>

<ul>
        <li>Documentar a realidade para as pessoas entenderem a revolu&ccedil;&atilde;o.</li>
        <li>Habilidade de capacitar a sociedade com uma voz para advocar-se</li>
        <li>Ajudar a criar uma boa m&iacute;dia e implantar valores art&iacute;sticos.</li>
</ul>
    
<p>Cientistas</p>

<ul>
        <li>Desenvolver uma cultura cient&iacute;fica nativa</li>
        <li>Estender o conhecimento da sociedade para coisas como testar a pureza da &aacute;gua</li>
        <li>Pesquisa para planejar uma economia popular</li>
        <li>Preserva&ccedil;&atilde;o ecol&oacute;gica</li>
</ul>

<p>T&eacute;cnicos</p>

<ul>
        <li>Desenvolver uma infraestrutura de internet para construir antenas e redes de internet</li>
        <li>Programadores para ajudar a criar sistemas de informa&ccedil;&otilde;es, e ensinar seus conhecimentos.</li>
        <li>Entusiastas do Linux e do Opensource para ensinar em escolas</li>
        <li>Especialistas em eletr&ocirc;nicos para criar uma ind&uacute;stria local de eletr&ocirc;nicos</li>
        <li>Interesse nestes projetos: Bitcoin, Impress&atilde;o 3D, Linux e Guifi.net</li>
</ul>

<p>Tradutores</p>

<ul>
        <li>Se voc&ecirc; fala bem Curdo ou Ingl&ecirc;s, voc&ecirc; tem um valor inestim&aacute;vel. H&aacute; uma grande riqueza de conhecimentos que precisam ser documentados em Curdo. N&oacute;s apelamos a todos os Curdos no exterior -Rojava precisa de voc&ecirc;!</li>
</ul>

<p class="go-next">Pr&oacute;ximo: 2.&nbsp;<a href="${prefix}join-2-learn-kurdish.html">Aprenda o idioma Curdo</a></p>

</section><!-- /#main -->
