<header role="page">
<h1 class="join icon">Junte-se a n&oacute;s</h1>

<p>Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos&nbsp;&ndash; n&atilde;o s&oacute; combatentes. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos, jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoas culturais.</p>

<p><strong>Precisamos de voc&ecirc;!</strong></p>
    </header>

<section id="main">
<h3>O que esperar</h3>
<p>Rojava est&aacute; num momento hist&oacute;rico. &Eacute; o s&iacute;mbolo que n&oacute;s podemos mostrar para apontar o sucesso de uma sociedade de federa&ccedil;&otilde;es locais. H&aacute; muito esfor&ccedil;o e pluralismo pela valoriza&ccedil;&atilde;o das mulheres, religi&otilde;es outras l&iacute;nguas e igualdade entre grupos &eacute;tnicos. &Eacute; aberto para estrangeiros com novas ideias,&nbsp;&eacute; uma revolu&ccedil;&atilde;o feita por pessoas de todas as origens e tipos. Isso n&atilde;o quer dizer que n&atilde;o existam grandes problemas que estamos enfrentando, n&atilde;o significa que n&atilde;o existam perigos que amea&ccedil;am a Revolu&ccedil;&atilde;o. Mas torna-se real enquanto lutamos. Este &eacute; um novo mundo cheio de oportunidades</p>

<p>Voc&ecirc; deve planejar permanecer aqui por seis meses ou mais. N&atilde;o faz sentido passar por todos os problemas de log&iacute;stica de transporte de volunt&aacute;rios para passarem apenas uma semana ou menos. Aqui n&atilde;o &eacute; a praia de Mallorca. Aqui &eacute; uma guerra.</p>

<p>Voc&ecirc; gastar&aacute; dois meses ou mais treinando o idioma e estudando sobre Rojava antes de fazer qualquer coisa. Quando voc&ecirc; chegar &agrave; fronteira, voc&ecirc; gastar&aacute; meses em guarda por horas, com pouqu&iacute;ssimo tempo de descanso antes de ver qualquer a&ccedil;&atilde;o. Pode ser miseravelmente entendiante, dependendo de sua preferencia pessoal. Voc&ecirc; estar&aacute; lutando e trabalhando ao lado de diferentes etinias, religi&otilde;es e vis&otilde;es pol&iacute;ticas, ent&atilde;o voc&ecirc; precisa interagir e se adaptar.</p>

<p>As pessoas que s&atilde;o aceitas para Rojava n&atilde;o necessitam comprar comida e equipamento. Geralmente, provemos tudo necess&aacute;rio. Entretanto, n&oacute;s recomendamos trazer as ferramentas necess&aacute;rias para o trabalho, por ser dif&iacute;cil procurar em Rojava (equipamento de laborat&oacute;rio, Range Finders ou lentes de c&acirc;mera, por exemplo). Se voc&ecirc; poder trazer algum dinheiro, poder&aacute; ajud&aacute;-lo em certas situa&ccedil;&otilde;es. Isto lhe dar&aacute; conforto mental, mas n&atilde;o &eacute; necess&aacute;rio. </p>

<p>A vida &eacute; comunal. Refei&ccedil;&otilde;es e tarefas s&atilde;o esfor&ccedil;os do grupo. Sobre as pessoas, h&aacute; uma grande variedade, de universit&aacute;rios formados, artistas cultos, alde&otilde;es a guerrilhas esclarecidas, iluminadas. N&atilde;o podemos resumir facilmente. A comida &eacute; boa e abundante.</p>

<p>Rojava &eacute; a Na&ccedil;&atilde;o com fervor revolucion&aacute;rio. Por tr&aacute;s desse movimento h&aacute; ideais libert&aacute;rios que est&atilde;o sendo postos em pr&aacute;tica. As coisas n&atilde;o s&atilde;o simplesmente brancas ou pretas. H&aacute; muitos indiv&iacute;duos cultos, alguns em cargos de lideran&ccedil;a, mas tamb&eacute;m h&aacute; um forte culto &agrave; personalidade em torno de Abdullah &Ouml;calan. Os soldados do YPG pode citas suas falas, discursos e escritos, mas representam coisas ainda abstratas. No entanto, existem verdadeiros coisas interessantes crescendo sobre a educa&ccedil;&atilde;o, economia e governo.</p>

<p class="go-next">Pr&oacute;ximo: 6.&nbsp;<a href="/join-6-ready.html">Estou pronto para ir</a></p>

</section><!-- /#main -->
