<header role="page">
<h1 style="height: 38px;" class="join icon">Junte-se a n&oacute;s</h1>
    
<p style="margin-top: 5px; height: 105px;">Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos,
jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoas culturais.</p>

<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>A jornada para c&aacute;</h3>
    
<p>N&atilde;o podemos oferecer muitos detalhes publicamente sobre a jornada a Rojava, pois usamos diferentes rotas para trazer pessoas at&eacute; aqui.</p>
    
<p>Uma vez preparado para sair, voc&ecirc; ser&aacute; colocado numa lista especial e dever&aacute; esperar. Quando o caminho estiver aberto, voc&ecirc; receber&aacute; o nome de uma cidade (Do Curdist&atilde;o Iraquiano ou Turquia) para onde ir&aacute; viajar, e um espe&ccedil;o de tempo e horas. Voc&ecirc; deve estar preparado antes disso.</p>
    
<p>Quando chegar, receber&aacute; instru&ccedil;&otilde;es de como proceder.&nbsp;</p>
    
<p>O processo para entrar em Rojava varia, e este &eacute; apenas um esbo&ccedil;o do que acontece.&nbsp;<br>
Voc&ecirc; ser&aacute; levado para a fronteira e cruzar&aacute; para Rojava.&nbsp;</p>

<p class="go-next">Pr&oacute;ximo: 5. <a href="${prefix}join-5-what-to-expect.html">O Que Esperar</a></p>

</section><!-- /#main -->
