<header role="page">
<h1 class="join icon">Junte-se a n&oacute;s</h1>
<p>Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos,
jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoas culturais.</p>
<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>Rojava &eacute; uma Nova Na&ccedil;&atilde;o Revolucion&aacute;ria.</h3>

<p><a href="https://en.wikipedia.org/wiki/Rojava">Rojava</a> &eacute; uma &aacute;rea aut&ocirc;noma no Norte da S&iacute;ria. A
regi&atilde;o ganhou autonomia em Novembro de 2013, no processo do levante S&iacute;rio, estabelecendo uma sociedade baseada em
princ&iacute;pios da democracia direta, igualdade de g&ecirc;nero e sustentabilidade. Rojava consiste em tr&ecirc;s cant&otilde;es, chamados Jazira, Kobani e Afrin.</p>

<p><small><strong>Ou&ccedil;am: &nbsp;</strong>N&oacute;s recebemos muitas mensagens de pessoas que n&atilde;o leram esse site. Antes de mandar-nos uma mensage, entre no site e leita tudo. Isso &eacute; uma assunto s&eacute;rio. Se voc&ecirc; nos envia um e-mail infundado e desinformado, ent&atilde;o voc&ecirc; estar&aacute; perdendo seu tempo e deixando uma m&aacute; impress&atilde;o.</small></p>

<h3>O que voc&ecirc; deve esperar</h3>

<p>Ir para Rojava &eacute; uma grande decis&atilde;o, e voc&ecirc; dever&aacute; entender o que est&aacute; fazendo, ent&atilde;o se sentir&aacute; preparado.</p>

<p><em>Antes de fazer qualquer coisa, h&aacute; um curso da l&iacute;ngua Curda </em><em> de dois meses </em><em>e aulas sobre Rojava. Isso significa que voc&ecirc; aprender&aacute; a falar o idioma Curdo e como a sociedade de Rojava funciona. Isso
&eacute; uma Revolu&ccedil;&atilde;o, n&atilde;o um evento do Facebook.</em></p>

<p>Mantenha em mente que:</p>

<ul>
    <li>N&atilde;o pagamos volunt&aacute;rios.</li>
    <li>Voc&ecirc; deve planejar permanecer 6 (seis) meses ou mais.&nbsp;</li>
    <li>Voc&ecirc; passar&aacute; por 2 meses de curso focado na l&iacute;ngua Curda e aulas sobre Rojava.</li>
    <li>Voc&ecirc; trabalhar&aacute; e combater&aacute; ao lado de diferentes etnias, religi&otilde;es, vis&otilde;es pol&iacute;ticas e ideologias de vida. Voc&ecirc; deve se adaptar e interagir.&nbsp;</li>
</ul>

<h3>Guia de primeiros passos</h3>

<p>Para come&ccedil;ar, siga esse guia:</p>

<ol>
    <li><a href="${prefix}join-1-what-can-you-do.html">O que voc&ecirc; pode fazer aqui</a></li>
    <li><a href="${prefix}join-2-learn-kurdish.html">Aprendendo o idioma Curdo</a></li>
    <li><a href="${prefix}join-3-preparing-yourself.html">Preparando-se e Organizando-se</a>
    <ul>
            <li><a href="${prefix}join-3-1-resources.html">Livros e outros Recursos de Rojava</a></li>
            <li><a href="${prefix}join-3-2-personal-account.html">Vis&atilde;o Geral da Situa&ccedil;&atilde;o</a></li>
    </ul>
    </li>
    <li><a href="${prefix}join-4-the-journey.html">A Jornada aqui</a></li>
    <li><a href="${prefix}join-5-what-to-expect.html">O que esperar</a></li>
    <li><a href="${prefix}join-6-ready.html">Estou pronto para ir</a></li>
</ol>

<p>Voc&ecirc; deve ler atenciosamente todas as informa&ccedil;&otilde;es acima, assim entender&aacute; completamente a
situa&ccedil;&atilde;o que voc&ecirc; est&aacute; prestes a adentrar.&nbsp;</p>

<p class="go-next">Pr&oacute;ximo: 1.&nbsp;<a href="${prefix}join-1-what-can-you-do.html">O que voc&ecirc; pode fazer aqui</a></p>

</section><!-- /#main -->
