<header role="page">
<h1 style="height: 39px;" class="join icon">Junte-se a n&oacute;s</h1>
<p style="margin-top: 13px; height: 109px;">Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos&nbsp;&ndash; n&atilde;o s&oacute; combatentes. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos, jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoas culturais.</p>
<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>Preparando-se</h3>

<p>Antes de viajar, voc&ecirc; ter&aacute; d&uacute;vidas, ansiedade e muitas perguntas. Isto &eacute; normal. Quando chegar aqui, se sentir&aacute; muito melhor. Aqui est&atilde;o algumas coisas que voc&ecirc; pode fazer.</p>

<p>Voc&ecirc; pode estudar o<a href="file:///join-2-learn-kurdish.html"> Idioma Curdo</a>, lendo o livro b&aacute;sico do Kurmanji, ja listado no site. Deve preparar a c&oacute;pia deste livro, pois ser&aacute; um guia muito &uacute;til. Ter um conhecimento b&aacute;sico da gram&aacute;tica antes de chegar, permitir&aacute; que voc&ecirc; aprenda a l&iacute;ngua muito mais r&aacute;pido, pois depois necessitar&aacute; apenas aprender o vocabul&aacute;rio. Esta &eacute; a prepara&ccedil;&atilde;o mais importante que voc&ecirc; pode fazer. Ser capaz de falar o idioma lhe tornar&aacute; muito mais eficaz.&nbsp;</p>

<p>Se voc&ecirc; est&aacute; vindo para um trabalho mais espec&iacute;fico, uma lista de projetos ou de propostas seria &uacute;til. Antes de chegar, voc&ecirc; pode fazer uma pesquisa sobre o que voc&ecirc; pode oferecer e o que gostaria de fazer, e pensar no que &eacute; necess&aacute;rio aqui. Uma vez que voc&ecirc; chegar aqui e come&ccedil;ar a entender melhor a situa&ccedil;&atilde;o, pode atualizar esse documento e eventualmente, traduzi-lo. Se voc&ecirc; n&atilde;o tem nada em espec&iacute;fico a oferecer, ent&atilde;o at&eacute; uma carta se explicandopode ajudar a introduzi voc&ecirc; a outros.&nbsp;</p>

<p>Voc&ecirc; pode estudar as origens filos&oacute;ficas e pol&iacute;ticas pelo que o movimento em Rojava luta. O livro principal sobre a filosofia pol&iacute;tica de Rojava &eacute; o&nbsp;<a href="/join-3-1-resources.html">Confederalismo Democr&aacute;tico</a>. Voc&ecirc; pode ler o <a href="https://en.wikipedia.org/wiki/Democratic_Confederalism">Artigo da Wikipedia</a>, e ler esse <a href="http://www.bbc.co.uk/blogs/adamcurtis/entries/5a7b18b5-0ec3-3d3e-a307-54820a7c6a59">Artigo da BBC por Adam Curtis</a>.</p>

<p>Mesmo se voc&ecirc; estiver aqui para ser um soldado, estar aqui n&atilde;o &eacute; s&oacute; combate armado. Ent&atilde;o, ser capaz de correr r&aacute;pido e ter f&ocirc;lego n&atilde;o te colocar&aacute; em vantagem sobre algu&eacute;m que entende a l&iacute;ngua e filosofia de Rojava.</p>

<h3>Clima e geologia</h3>

<p>A regi&atilde;o do Leste e Central de Rojava &eacute; principalmente feito de grandes planices com alguns montes e poucas &aacute;rvores. A Primavera e o Outono s&atilde;o curtos, ent&atilde;o a transi&ccedil;&atilde;o de quente para frio &eacute; r&aacute;pida.</p>

<p>Terrenos irrigados com campos de terra abertos e pedras do tamanho de uma bola de baseball (&agrave;s vezes maior). Devido ao clima e o sobrepastoreio, &aacute;rvores e arbustos s&atilde;o raros. Os montes s&atilde;o usados como cemit&eacute;rios ou postos militares, e em ambos os casos, s&atilde;o &aacute;ridos. &Aacute;gua pot&aacute;vel &eacute; dif&iacute;cil.</p>

<p>Ver&atilde;o: O clima &eacute; quente (m&aacute;ximas de 42&ordm; C), seco, ensolarado com ocasionais tempestades de areia que pode durar por dias. A noite &eacute; alguns graus mais fria com a briza, mas continua muito quente. Muitos insetos e besouros</p>

<p>Inverno: O clima &eacute; frio (m&iacute;nimas de -5&ordm; C) e seco com chuva ocasional. Se chove, pode durar por 2-3 dias constantemente, transformando a terra em uma lama vermelha profunda, complicando a movimenta&ccedil;&atilde;o. O fator de resfriamento pelo vento &eacute; um fen&ocirc;meno di&aacute;rio, j&aacute; que n&atilde;o h&aacute; prote&ccedil;&atilde;o nas planices. Conte com neve peri&oacute;dica e chuvas com neve, que derretem ap&oacute;s alguns dias.&nbsp;</p>

<h3>Lista de bagagem (objetos &uacute;teis)</h3>

<p>Quando pensar em trazer equipamentos, foque em itens espec&iacute;ficos que n&atilde;o s&atilde;o achados comumente. A maioria dos medicamentos est&atilde;o dispon&iacute;veis aqui, j&aacute; que s&atilde;o itens comuns. Entretanto, voc&ecirc; pode traz&ecirc;-los, &eacute; melhor estar preparado e auto-suficiente desde o come&ccedil;o. Aqui est&aacute; uma lista que n&oacute;s recomendamos:</p>

<p>Itens altamente recomendados:</p>

<ul>
    <li>1 Par de botas de 6 (Seis) polegadas OU com zippers na lateral (voc&ecirc;&nbsp;colocar&aacute; e tirar&aacute; com frequ&ecirc;ncia)</li>
    <li>2 ou mais pares de meias de l&atilde; de qualidade (Verde Oliva/Preto/Areia/Cinza)</li>
    <li>1 par de camisas com absor&ccedil;&atilde;o de umidade (Verde Oliva/Preto/Areia)</li>
    <li>1&nbsp;par de roupas &iacute;ntimas com absor&ccedil;&atilde;o de umidade</li>
    <li>Cinto militar (BDU, Riggers)</li>
    <li>Capa de chuva imperme&aacute;vel (Corpo inteiro)</li>
    <li>Chap&eacute;u, Luvas, Layer-Wear, Roupa &iacute;ntima t&eacute;rmica e casaco dependendo da esta&ccedil;&atilde;o</li>
    <li>&Oacute;culos bal&iacute;stico</li>
    <li>Rel&oacute;gio com despertador</li>
</ul>
 
<ul>
    <li>Bolsa de caminhada/esportiva 100. Voc&ecirc; caminhar&aacute; por 5-8 horas</li>
    <li>Mochila militar de patrulha</li>
    <li>Kit de primeiros socorros (mont&aacute;vel no cinto, suporte peitoral ou LBV)</li>
    <li>Algemas de zip (de qualidade)</li>
</ul>

<ul>
    <li>Canivete sui&ccedil;o&nbsp;</li>
    <li>Lanterna (Que usem baterias AA)</li>
    <li>Bin&oacute;culos compactos (o ideal &eacute; 12x)</li>
    <li>1 par de escovas</li>
    <li>Barbeador com refil</li>
    <li>Cortador de unhas</li>
    <li>Pin&ccedil;a</li>
    <li>Espelho port&aacute;til</li>
</ul>

<p>Itens opcionais</p>
<ul>
    <li>GPS</li>
    <li>El&aacute;stico T&aacute;tico (Que possa ser utilizado como bandoleira)</li>
    <li>Water filter / tablets kit if easily affected by water</li>
    <li>Joelheiras / Cotoveleiras</li>
    <li>Colete &ndash; apesar do YPG n&atilde;o us&aacute;-lo. Verifique com autoridades locais se voc&ecirc; pode transport&aacute;-lo. Voc&ecirc; pode comprar por um pre&ccedil;o barato na sua cidade de chegada, mas voc&ecirc; mas voc&ecirc; recebe o que paga.</li>
    <li>Leitor de EBook ou MP3 player</li>
    <li>Laptop.</li>
    <li>Bloco de notas e caneta, para escrever palavras em Curdo.</li>
</ul>

<p>Sobre eletr&ocirc;nicos, todos aqui usam o padr&atilde;o Europeu, mas &eacute; comum achar outros padr&otilde;es. (Voc&ecirc; p</p>

<p>No aeroporto, tenha certeza que voc&ecirc; tem uma boa hist&oacute;ria de cobertura, uma que explica porque voc&ecirc; est&aacute; viajando para esta regi&atilde;o. Voc&ecirc; pode ser um jornalista, blogger, advogado, volunt&aacute;rio humanit&aacute;rio, ou qualquer civil vindo para trabalhar. Tenha certeza que tudo est&aacute; consistente com sua pr&oacute;pria experi&ecirc;ncia e hist&oacute;ria. Ou seja, que soe.</p>

<p class="go-next">Pr&oacute;ximo: 3.1. <a href="/join-3-1-resources.html">Livros e outros recursos em Rojava</a></p>

</section><!-- /#main -->
