<header role="page">
<h1 style="height: 38px;" class="join icon">Junte-se a n&oacute;s</h1>
    
<p style="margin-top: 5px; height: 105px;">Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos,
jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoas culturais.</p>

<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>Pronto para vir</h3>
    
<p>Depois de <a href="${prefix}join.html">estudar o material</a> e se voc&ecirc; estiver preparado, voc&ecirc; deve enviar um e-mail respondendo as seguintes quest&otilde;es:</p>
    
<ul>
        <li>Qual a sua forma&ccedil;&atilde;o e experi&ecirc;ncia?</li>
        <li>Qual a sua motiva&ccedil;&atilde;o para vir aqui?</li>
        <li>Qual a sua vis&atilde;o sobre o que est&aacute; acontecendo em Rojava?</li>
        <li>Quais s&atilde;o suas habilidades e especialidades?</li>
        <li>O que lhe interessa, sobre este lugar?</li>
        <li>Quanto tempo voc&ecirc; planeja ficar aqui?</li>
        <li>Diga-nos quando est&aacute; preparado para vir.</li>
        <li>Resumo em ponto lista</li>
</ul>
    
<p>Por favor, envie respostas &uacute;teis que esclarece completamente a quest&atilde;o.</p>
    
<p>Voc&ecirc; deve trazer uma c&oacute;pia desses dois textos:</p>

<ul>
        <li>Curso de Kurmanji basico (<a href="${prefix}uploads/kurdish/kurmanji-basic.pdf">English</a> / <a href="${data_prefix}uploads/kurdish/libro_texto_kurdo.pdf">espa&ntilde;ol</a>)</li>
        <li><a href="${prefix}uploads/amountainriver-web.pdf">Introduction a Rojava</a> deo livro "Uma pequena chave pode abrir uma grande porta&rdquo;</li>
</ul>

<p>Use a&nbsp;<a href="${prefix}contact.html">p&aacute;gina de contatos</a> para enviar-nos mensagens.</p>

</section><!-- /#main -->
