<header role="page">
<h1 class="join icon">Junte-se a n&oacute;s</h1>
<p>Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos, jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoal cultural.</p>

<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>Aprenda o idioma Curdo</h3>

<p>Os principais idiomas de Rojava s&atilde;o o &Aacute;rabe (idioma mais falado), o Curdo (amplamente usado), e o Turco. Sem ser capaz de falar uma destas l&iacute;nguas, voc&ecirc; n&atilde;o ser&aacute; capaz de trabalhar de forma eficaz, e receber&aacute; limitados trabalhos sob supervis&atilde;o.</p>

<p>Aprender o Curdo &eacute; mais f&aacute;cil que &Aacute;rabe, e voc&ecirc; estar&aacute; capaz de se comunicar com a maioria das pessoas que interagir. N&oacute;s sugerimos aprender Curdo, pois &eacute; mais entendido.</p>

<p>Para maximizar seu potencial, n&oacute;s sugerimos que as pessoas que aqui cheguem tenham tempo para aprender Curdo. N&oacute;s oferecemos um curso de orienta&ccedil;&atilde;o de 2 (dois) meses. Por&eacute;m, voc&ecirc; pode come&ccedil;ar a estudar antes de chegar em Rojava. O esfor&ccedil;o que voc&ecirc; empreende ajudar&aacute; quando chegar, n&atilde;o se deixe levar por n&atilde;o notar progresso. O que voc&ecirc; memorizar contribuir&aacute; para entender a l&iacute;ngua.</p>

<p>Primeiramente, recomendamos que voc&ecirc; traga um laptop, que lhe permitir&aacute; trabalhar, ler documentos etc... Um Tablet &eacute; menos eficaz, mas se voc&ecirc; tiver um, tamb&eacute;m poder&aacute; traz&ecirc;-lo. Um leitor de Ebook tamb&eacute;m &eacute; uma boa ideia se voc&ecirc; estiver planejando ir &agrave; frente de batalha, pois a bateria do leitor dura muito tempo.</p>

<p>Voc&ecirc; pode clicar com o Bot&atilde;o Direito do Mouse nestes documentos, e selecionar "Salvar Link Como...", para baix&aacute;-los no seu computador.</p>

<ul>
    <li>O livro de estudo recomendado &eacute; o <strong>Kurmanji basic</strong> (<a href="${prefix}uploads/kurdish/kurmanji-basic.pdf">English</a> / <a href="${data_prefix}uploads/kurdish/libro_texto_kurdo.pdf">espa&ntilde;ol</a>), &eacute; recomend&aacute;vel ler antes de ir. Este livro ensina gram&aacute;tica b&aacute;sica, pois o vocabul&aacute;rio &eacute; f&aacute;cil de aprender.</li>
    <li>Para n&iacute;vel intermedi&aacute;rio, estude <a href="${prefix}uploads/kurdish/Kurmanji_Kurdish_Fort_The_Beginners.pdf">&ldquo;Kurmanji Kurdish For The Beginners&rdquo;</a>.</li>
    <li>O livro <a href="${prefix}uploads/kurdish/Learn_Kurdish.pdf">Learn KURDISH</a> por Baran Rizgar tem muitos exemplos e informa&ccedil;&otilde;es &uacute;teis que voc&ecirc; n&atilde;o achar&aacute; em outros livros.</li>
    <li>Outro livro &uacute;til &eacute; <a href="${prefix}uploads/kurdish/ingilizikurdi.pdf">&ldquo;Em h&icirc;n&icirc; Kurmanc&icirc; dibin&rdquo;</a>.</li>
    <li>Este &eacute; um livro de gram&aacute;tica Curda para <a href="${prefix}uploads/kurdish/kurmanji_1_grammar.mobi">leitores de Ebook</a></li>
    <li>Este &eacute; um livro de refer&ecirc;ncia de <a href="/uploads/kurdish/Kurmanji_Kurdish_A_Reference_Grammar.pdf">Gram&aacute;tica Curda</a></li>
</ul>

<p>Dicion&aacute;rios:</p>

<ul>
    <li><a href="${prefix}uploads/kurdish/kurmanji-english.pdf">Este</a> &eacute; o melhor dicion&aacute;rio dispon&iacute;vel, mas &eacute; apenas de Curdo para Ingl&ecirc;s.</li>
    <li>No "Kurmanji Kurdish For The Beginners", listado acima, h&aacute; um &iacute;ndice de palavras no fim do livro.</li>
    <li>Tr&ecirc;s dicion&aacute;rios de Curdo para Curdo: <a href="${prefix}uploads/kurdish/Ferhenga%20Desti.pdf">1</a>, <a href="${prefix}uploads/kurdish/Ferhenga%20Kameran.pdf">2</a>, e <a href="${prefix}uploads/kurdish/Ferhenga%20Peyvname%20II%20%28kurdi%20bi%20kurdi%29.pdf">3</a>.</li>
</ul>

<p>Adicionalmente, aqui est&atilde;o alguns textos para estudo:</p>

<ul>
    <li>&ldquo;Fern&atilde;o Capelo Gaivota&rdquo; em <a href="http://www.araujosilvaadvocacia.com.br/capelogaivota%5B1%5D.pdf">Portugu&ecirc;s</a><span style="text-decoration: underline;"></span> e em&nbsp;<a href="${prefix}uploads/kurdish/qaqlibaza_jonathan.pdf">Curdo</a>.</li>
    <li>A text on the Catalan revolution is available here.</li>
    <li>Compare a Declara&ccedil;&atilde;o de Direitos Humanos em <a href="http://www.ohchr.org/EN/UDHR/Documents/UDHR_Translations/por.pdf">Portugu&ecirc;s</a> e <a href="${prefix}uploads/kurdish/humanrights/declaration%20of%20human%20rights%20-%20kurdish.pdf">Curdo</a>. Outras l&iacute;nguas <a target="_blank" href="http://www.ohchr.org/EN/UDHR/Pages/SearchByLang.aspx">aqui</a>.</li>
</ul>

<p class="go-next">Pr&oacute;ximo: 3.&nbsp;<a href="${prefix}join-3-preparing-yourself.html">Preparando-se e Organizando-se</a></p>

</section><!-- /#main -->
