<header role="page">
<h1 class="join icon">Junte-se a n&oacute;s</h1>

<p>Isso &eacute; uma Revolu&ccedil;&atilde;o, e n&oacute;s precisamos de todos. Precisamos de especialistas, pessoas revolucion&aacute;rias que entendam esse processo. Precisamos de Curdos no ocidente que falem ingl&ecirc;s ou outras
l&iacute;nguas. N&oacute;s precisamos de arquitetos, doutores, engenheiros, tecn&oacute;logos, jornalistas e tradutores. N&oacute;s precisamos de artistas de rua, m&uacute;sicos e pessoal cultural.</p>
<p><strong>Precisamos de voc&ecirc;!</strong></p>
</header>

<section id="main">
<h3>Livros e outros recursos em Rojava</h3>
    
<p><a href="${res_prefix}uploads/amountainriver-web.pdf"><img alt="About us" class="border right" src="${data_prefix}pics/asmallkeycanopenalargedoor.jpg"></a>
&Eacute; necess&aacute;rio ler a introdu&ccedil;&atilde;o para&nbsp;<a href="${res_prefix}uploads/amountainriver-web.pdf">"Uma pequena chave pode abrir uma grande porta"</a>. Isso lhe familiarizar&aacute; com a situa&ccedil;&atilde;o aqui, e
oferecer&aacute; uma vis&atilde;o geral sobre a luta em Rojava.</p>

<p>Outro livro que voc&ecirc; deveria ler &eacute; o Confederalismo Democr&aacute;tico, por Abdullah &Ouml;calan. Isto forma a base do sistema que est&aacute; sendo criado em Rojava:</p>

<ul>
    <li><a href="${res_prefix}uploads/ocalan/Ocalan-Democratic-Confederalism.pdf">Democratic Confederalism</a> (Ingl&ecirc;s)</li>
    <li>Confederalismo Democr&aacute;tico (Portugu&ecirc;s) (em progresso)</li>
    <li><a href="${res_prefix}uploads/ocalan/Abdullah-Ocalan-Confederalisme-democratique.pdf">Conf&eacute;d&eacute;ralisme d&eacute;mocratique</a> (Franc&ecirc;s)</li>
    <li><a href="${res_prefix}uploads/ocalan/Confederalismo-Democratico.pdf">Confederalismo Democr&aacute;tico</a> (Espanhol)</li>
    <li><a href="${res_prefix}uploads/ocalan/Abdullah-Ocalan-Demokratischer-Konfoderalismus.pdf">Demokratischer Konf&ouml;deralismus</a> (Alem&atilde;o)</li>
</ul>

<blockquote>O Conderalismo Democr&aacute;tico do Curdist&atilde;o n&atilde;o &eacute; um sistema Estatal. &Eacute; um sistema
democr&aacute;tico das pessoas sem um Estado. O Estado toma poder das pessoas...&nbsp;</blockquote>

<p class="go-next">O&nbsp;3.2.&nbsp;<a href="${prefix}join-3-2-personal-account.html">Vis&atilde;o Geral da Situa&ccedil;&atilde;o</a></p>

</section><!-- /#main -->
