<aside role="sub">
	
<h4>Contact</h4>
<p>
Enviar um inquérito, oferecer assistência ou solicitar a sua adesão. Encontre-nos através da nossa <a href="${prefix}contact.html">página de contato</a>.</p>
<p>
	Você também pode nos seguir no Twitter (<a target="_blank" href="https://twitter.com/RojavaPlan">@RojavaPlan</a>) ou siga-nos no <a target="_blank" href="https://www.facebook.com/RojavaPlan" target="_blank">Facebook</a>.</p>


<h4>Wiki</h4>
<p>
Saiba mais sobre nossos projectos e iniciativas.
    <a href="http://wiki.rojavaplan.com">Veja nossa wiki »</a></p>
</p>
	
	<h4>FAQs</h4>
	<p>
    Você tem perguntas, nós temos respostas. <a href="${prefix}faqs.html">Veja nossas perguntas frequentes »</a></p>


	
<h4>Boletim semanal de Plano Rojava</h4>
<p>
	Registe-se na nossa mailing list para discutir projetos, compartilhar idéias e receber notícias, entregues diretamente para sua caixa de entrada.</p>

<form class="newsletter" action="https://lists.riseup.net/www" method="post">
    <fieldset>
        <label for="email" class="hide">Email</label>
        <input id="email" type="email" name="email" placeholder="Email">
        <input type="hidden" name="list" value="rojavaplan">
        <input type="hidden" name="action" value="subrequest">
        <input type="hidden" name="via_subrequest" value="1">
	</fieldset>
	<fieldset class="submit">
        <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Subscribe">
    </fieldset>
</form>

</aside>

