<header role="page">
<h1 class="rpmain icon">Rojava Plan</h1>

<p><strong>Rojava &eacute; o que voc&ecirc; estava esperando.</strong></p>
    </header>

<section id="main">
<h3>Expect Us!</h3>
    
<p>Depois das revolu&ccedil;&otilde;es burguesas h&aacute; dois s&eacute;culos atr&aacute;s, o poder de Deus liderou-nos para o poder do dinheiro, e o nacionalismo substitui a religi&atilde;o pelo sistema de opress&atilde;o humana.</p>
    
<p>A revolu&ccedil;&atilde;o comunista trouxe igualdade, mas n&atilde;o liberdade. Um s&eacute;culo depois, o capitalismo e as na&ccedil;&otilde;es-estado, ambas formando insper&aacute;veis seres que chamas de "o sistema", que &eacute; mais forte que nunca. Mas n&oacute;s tamb&eacute;m somos!</p>
    
<p>Alguns movimentos pr&oacute;-democracia e combatentes da liberdade em todo o mundo desistiram de suas epseran&ccedil;as, chegando &agrave; conclus&atilde;o de que &eacute; "o fim da hist&oacute;ria", que o capitalismo ganhou por bem, e n&atilde;o h&aacute; outra escolha: a sociedade humana e a sociedade natural est&atilde;o condenadas. No entanto, no minuto que voc&ecirc; pisa em Rojava, fica claro como isso &eacute; nonsense.</p>
    
<p>Por um longo tempo temos treinado por isso, em Chiapas, Wall Streete, Catal&ocirc;nia, Am&eacute;rica do Sul, Gr&eacute;cia... E em Rojava est&aacute; finalmente acontecendo.</p>
    
<p>Se a revolu&ccedil;&atilde;o continuar forte, pode espalhar para todos que est&atilde;o preparados para a liberdade.</p>
    
<p>A humanidade &eacute; como uma borboleta presa no est&aacute;gio larval. Esse pode ser o come&ccedil;o de sua metamorfose: de estruturas autorit&aacute;rias e centralizadas &agrave; nova rede de sociedades p2p; de na&ccedil;&otilde;es-estado para o confederalismo democr&aacute;tico.</p>
    
<p>Eles t&ecirc;m dinheiro, mas n&oacute;s temos a internet. E n&oacute;s podemos fazer nosso pr&oacute;prio dinheiro.</p>
    
<p>Ent&atilde;o pegue seu laptop e venha para Rojava agora. Pare de falar que voc&ecirc; &eacute; mais &uacute;til no seu pa&iacute;s. Acorde!</p>
    
<p>N&atilde;o &eacute; uma opera&ccedil;&atilde;o. &Eacute; um plano&nbsp;<a href="${prefix}join.html">&Eacute; o que voc&ecirc; estava esperando</a>.</p>

	</section><!-- /#main -->
