<header role="page">
	<h1 class="about icon">Quiénes somos</h1>
	<p>El plan Rojava es lo que estabas esperando.
    Tenemos una oportunidad única de participar en la creación de una nueva sociedad y de demostrar que nuestras ideas funcionan.</p>
</header>
<section id="main">
	<h3>Rojava Plan</h3>

<p><img alt="About us" class="border right" src="${res_prefix}pics/aboutpic.jpg">
Nuestro objetivo común es desarrollar un mundo libre, y vamos a empezar aquí, en Rojava.</p>

<p>
El plan Rojava es el movimiento para crear una red global de sociedades democráticas.
Empezamos ahora, con Rojava como modelo para el mundo.
Y también estamos aprendiendo de nuestra experiencia aquí.
</p>

<p>Muchas gracias por pasarte por aquí. Tanto si estás aquí para unirte a nosotrxs, ofrecer tu ayuda o sólo de visita - ¡Bienvenidx!</p>

<p><em>- Rojava Plan</em></p>

<h3>Sobre Rojava</h3>

<p>Rojava es una región autónoma en el norte de Siria. Consiguió la autonomía en noviembre de 2013 durante el levantamiento sirio, estableciendo una sociedad basada en principios de democracia directa, igualdad de género y sosteniblidad. Rojava consiste en tres cantones llamados Cezîre, Kobanê y Efrin.</p>

<p>Para más información sobre Rojava, lee el <a href="https://es.wikipedia.org/wiki/Rojava">artículo de Wikipedia</a> o nuestra <a href="/join-3-1-resources.html">página de recursos</a>.</p>

</section><!-- /#main -->

