<aside role="sub">

	<h4 class="clear">Categor&iacute;as</h4>
	<ul id="nav_categories" class="nav_categories">

    <li>
    <a href="${prefix}category/sociedad.html">Sociedad</a>
    </li>

    <li>
    <a href="${prefix}category/economia.html">Economía</a>
    </li>

    <li>
    <a href="${prefix}category/salud.html">Salud</a>
    </li>

    <li>
    <a href="${prefix}category/ciencia.html">Ciencia & Tecnología</a>
    </li>

    <li>
    <a href="${prefix}category/arte.html">Arte & Música</a>
    </li>

    <li>
    <a href="${prefix}category/guerra.html">Guerra</a>
    </li>

    <li>
    <a href="${prefix}category/mundo.html">Mundo</a>
    </li>

    <li>
    <a href="${prefix}category/video.html">Reportajes en Vídeo</a>
    </li>

    <li>
    <a href="${prefix}category/imagenes.html">En Imágenes</a>
    </li>

    <li>
    <a href="${prefix}category/especial.html">Reportajes Especiales</a>
    </li>

    <li>
    <a href="${prefix}category/explicaciones.html">Explicaciones</a>
    </li>

    <li>
    <a href="${prefix}category/opinion.html">Opinión</a>
    </li>

    </ul>
	
	<h4>Archivo</h4>
	<ul>
	<li><a href="${prefix}archive/nov-2015.html">noviembre 2015</a></li>
	</ul>
</aside>

