<header role="page">
    <h1>Contacto</h1>

</header>

<section id="main">
	<h3>Mándanos un Correo</h3>

<p>Si quieres unirte, antes tienes que leer la guía sobre
<a href="${prefix}join.html">cómo unirte</a>. Asegúrate de entender bien toda la info antes de contactarnos.</p>

<p>Nuestro correo es:</p>

<p><img src="${res_prefix}pics/email.png" /></p>

<p>Por favor, ten paciencia, nos llegan muchos mensajes. Puede que tardemos entre 5 y 7 días en contestar. Si después de 7 días no te hemos contestado, escríbenos un recordatorio.</p>

<h3>Proteje tu Correo con un Programa de Cifrado</h3>

<p>Internet es un sitio peligroso. Los programas de cifrado protegen tus comunicaciones. El cifrado evita que la gente mala intercepte tus mensajes y los lea. Por tu propia seguridad te recomendamos que aprendas a cifrar.</p>

<p>Es altamente recomendable que usemos comunicación cifrada por PGP.
Aquí hay una <a target="_blank" href="https://flossmanuals.net/thunderbird-workbook/">guía para configurar el PGP</a>
con el programa de correo Thunderbird.</p>

<p>O quizá prefieras intentar instalar la <a target="_blank" href="https://www.mailvelope.com/">extensión Mailvelope</a> para Google Chrome y Firefox.</p>

<p>Esta es nuestra <a href="${res_prefix}uploads/rojava_plan.key.asc">llave PGP pública</a> para enviarnos un correo cifrado. Descárgatela en tu ordenador e impórtala a tu programa de correo.</p>

<p>Recuerda adjuntar tu propia llave pública para que te podamos responder. En tu programa de correo habrá un botón que ponga "Adjuntar mi clave pública". Necesitamos esta llave para poder contestar a la gente que nos envía correos cifrados.</p>

</section><!-- /#main -->

