<header role="page">
    <h1 class="contribute icon">Aporta</h1>
	<p>Somos conscientes de que no todo el mundo puede moverse. Hay gente que tiene niñas a las que cuidar, otros están enfermos o simplemente no están listas para dejar atrás su vida anterior.</p>
<p><strong>Construyamos juntos la nueva sociedad</strong></p>
</header>

<section id="main">
	<h3>Traducciones</h3>

    <p>Necesitamos gente que nos ayude a traducir material a distintos idiomas.</p>

    <p>Sobre todo necesitamos traductoras de kurdo. Tenemos mucha información que puede ayudar a la sociedad de Rojava a progresar enormemente, pero necesita estar en kurdo.</p>

    <p><a href="/contact.html">Contáctanos</a> si puedes hacer traducciones.</p>

    <h3>Ayuda y consejos de expertos</h3>

    <p>Si tienes experiencia en algún campo de ciencia, ingeniería, tecnología, comunicación o lo que sea, necesitamos tus conocimientos. Por favor, contáctanos para ofrecernos tu ayuda.</p>

    <h3>Promoción, <em>networking</em> y campañas</h3>

    <p>Sal a la calle, difunde el plan Rojava por el mundo, haz campañas y promociónanos en las redes sociales. Queremos que todo el mundo sepa lo que pasa en Rojava.</p>

    <p>Si conoces colectivos o grupos de afinidad, asegúrate de que saben de nosotras. Ayuda a tejer la red.
    Queremos contactar con amigos de todo el mundo que compartan nuestros objetivos.</p>

    <h3>Financia la causa</h3>

    <p>Una buena manera de apoyar nuestro trabajo es con una <a href="/donate.html">donación</a>.</p>

</section><!-- /#main -->

