<header role="page">
    <h1 class="donate icon">Dona</h1>
    <p>Somos una red de individuos voluntarios y comprometidos que lo han dejado todo para apoyar el plan Rojava. Y necesitamos tu ayuda.</p>
</header>

<section id="main">
    <h3>Amadrínanos con dinero</h3>

    <p>Ser revolucionaria sale caro. No estamos sentados en casa tocándonos el higo. Dinero y gente son los recursos que mueven nuestra máquina.</p>

    <p>Estamos haciendo grandes cosas con poco dinero. Tú también eres parte de esto. Es nuestro mundo.</p>

    <p>Aliméntanos con tus donaciones.</p>

    <p>Bitcoin: <strong>1D7HwrSysVgWz3s1KMyqA1GD6dvX9zGbR7</strong></p>

    <p>Faircoin: <strong>fPa63v9LKq7mQR6Ux3Hz5AdChNFNYbomgP</strong></p>

    <p>Muchas gracias por tu aportación. Todo cuenta.</p>

    <p><em>- Rojava Plan</em></p>

</section><!-- /#main -->

