	
<aside role="social">
    <section class="language">
        <h1>¡Hola! Bonjour! Mêrheba!</h1>
        <p>
            <a href="/">English</a>
            <a href="/pt/">Português</a>
        </p>
    </section>
	<section class="twitter"> 
		<h1>Último tuit</h1>
		
		<p><a target="_blank" href="https://twitter.com/RojavaPlan" class="button">Únete a la charla</a></p>
	</section> 
	<section class="facebook">
		<h1>Seamos amigas</h1>
		<p>Para info semanal, charlas con la comunidad y más, agréganos en Facebook.</p>
		<p><a target="_blank" href="https://www.facebook.com/RojavaPlan" class="button">Únete al grupo</a></p>
	</section>
</aside><!-- /aside -->

<footer role="siteinfo">
    <p id="languages">
        <a href="/">English</a>
        <a href="/fr/">Français</a>
        <a href="/pt/">Português</a>
    </p>
    <p>
    <a href="${prefix}contact.html">Contacto</a> |
    <a href="${res_prefix}uploads/press_kit.zip">Kit de Prensa</a>
    </p>
	<div class="social">
		<ul>
			<li class="twitter"><a target="_blank" href="https://twitter.com/RojavaPlan">Twitter</a></li>
			<li class="facebook"><a target="_blank" href="https://www.facebook.com/RojavaPlan">Facebook</a></li>
			<li class="rss"><a target="_blank" href="https://reddit.com/rojava">Sigue a Rojava en Reddit</a></li>
		</ul>
	</div>
</footer>

</div><!-- /#wrap -->
	
</body></html>

