
<div id="content">

	<section id="featured">
		<div style="position: relative;" id="slides">
		
        <!-- class="alt" means it will show on the right -->
	    <section style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 896px;">
        <img src="${data_prefix}pics/coolgraff.jpg" alt="What you've been waiting for">
		<a href="${prefix}join.html">
		<h1>Lo que has estado esperando</h1>
		<h2>Únete al movimiento, aporta conocimiento o dona a la causa.</h2>
		</a>
		</section>
	
	    </div>
    </section>

<section id="newsletter">
	<p>Apúntate a la lista de correo para comentar proyectos, compartir ideas y recibir noticias directamente en tu correo.</p>
    <form class="bold_label" action="https://lists.riseup.net/www" method="post">
        <fieldset>
			<label for="email" class="hide">Correo</label>
            <input id="email" type="email" name="email" placeholder="Correo">
            <input type="hidden" name="list" value="rojavaplan">
            <input type="hidden" name="action" value="subrequest">
            <input type="hidden" name="via_subrequest" value="1">
            <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Suscríbete">
        </fieldset>
    </form>
</section>

<section id="recent" class="blog">
	
