
<div id="content">

<section id="intro-banner">
    <p>Rojava is the plan you've been waiting for. In 1 year, we will finish 26 projects and advance Rojava's decentralized economy. <a href="${prefix}rojavaplan.html">Read more »</a></p>
</section>

	<section id="featured">
<h3><a href="https://coopfunding.net/en/campaigns/feed-the-revolution" target="_blank">#FeedTheRevolution - ¡Nuestro primer crowdfunding está en marcha!</a></h3>
        <video width="100%" controls poster="${data_prefix}uploads/videos/feedtherev.jpg">
            <source src="${data_prefix}uploads/videos/sport-rojava.webm" type="video/webm">
        </video>
    </section>

<section id="newsletter">
	<p>Apúntate a la lista de correo para comentar proyectos, compartir ideas y recibir noticias directamente en tu correo.</p>
    <form class="bold_label" action="https://lists.riseup.net/www" method="post">
        <fieldset>
			<label for="email" class="hide">Correo</label>
            <input id="email" type="email" name="email" placeholder="Correo">
            <input type="hidden" name="list" value="rojavaplan">
            <input type="hidden" name="action" value="subrequest">
            <input type="hidden" name="via_subrequest" value="1">
            <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Suscríbete">
        </fieldset>
    </form>
</section>

<section id="recent" class="blog">
	
