<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Aprende kurdo</h3>

<p>Los principales idiomas que se hablan en Rojava son árabe (el más extendido), kurdo y turco. Sin saber alguno de estos idiomas no podrás trabajar aquí de forma eficaz, sólo tendrás un papel secundario y estarás bajo supervisión.</p>

<p>Aprender kurdo es mucho más fácil que árabe, y podrás comunicarte con la mayoría de la gente con la que interactúes. Te aconsejamos aprender kurdo, ya que casi todo el mundo lo entiende.</p>

<p>Para maximizar tu potencial, aconsejamos a la gente que llega que haga el esfuerzo de aprender kurdo. Ofrecemos un curso de orientación de 2 meses, pero puedes empezar a prepararte antes de venir. El esfuerzo que hagas te será de gran ayuda una vez que llegues, pero no te agobies si no notas ningún avance. La gramática que aprendas te ayudará a pillar más rápido el idioma con el vocabulario que vayas aprendiendo en Rojava.</p>

<p>Te recomendamos que traigas un portátil, que te permitirá trabajar, leer documentos, etc. Una tablet es menos efectiva, pero si tienes una también la puedes traer. Un libro electrónico también es una buena idea si piensas ir a luchar al frente, porque la batería dura mucho.</p>

<p>Guarda estos documentos en tu ordenador: pincha con el botón derecho y dale a “Guardar enlace como…”.</p>

<ul>
    <li>Estudia <a href="${data_prefix}uploads/kurdish/libro_texto_kurdo.pdf">gramática</a>.</li>
    <li>Estudia <a href="${prefix}uploads/kurdish/freq-words.pdf">vocabulario</a>.</li>
    <li><a target="_blank" href="https://www.youtube.com/channel/UCaJUvoJ_ATERyJz8U-8WUqw">Escucha</a>.</li>
    <li>Para nivel intermedio, estudia <a href="${data_prefix}uploads/kurdish/Kurmanji_Kurdish_Fort_The_Beginners.pdf">Kurmanci Kurdish For The Beginners</a> (en inglés).</li>
    <li>El libro <a href="${data_prefix}uploads/kurdish/Learn_Kurdish.pdf">Learn KURDISH</a> (en inglés) por Baran Rizgar incluye un montón de ejemplos e información útil que noencontrarás en otros libros.</li>
    <li>Otro libro útil es <a href="${data_prefix}uploads/kurdish/ingilizikurdi.pdf">Em hînî Kurmancî dibin</a>.</li>
</ul>

<p>Diccionarios:</p>

<ul>
    <li><a href="${data_prefix}uploads/kurdish/kurmanji-english.pdf">Éste</a> es el mejor diccionario disponible, pero es sólo de kurdo a inglés.</li>
    <li>El libro “Kurmanji Kurdish For The Beginners” mencionado antes también tiene un índice al final.</li>
    <li>Aquí hay 3 diccionarios kurdos: <a href="${data_prefix}uploads/kurdish/Ferhenga Desti.pdf">1</a>, <a href="${data_prefix}uploads/kurdish/Ferhenga Kameran.pdf">2</a> y <a href="${data_prefix}uploads/kurdish/Ferhenga Peyvname II (kurdi bi kurdi).pdf">3</a>.</li>
    <li>Aquí está <a href="${prefix}uploads/kurdish/WQFerheng_3.9.apk">WQFerheng</a>, una app para Android.</li>
</ul>

<p>Tarjetas Anki. Para usarlas sigue estos pasos:</p>
<ul>
    <li>Instala Anki (Linux):
        <ol>
            <li><strong>Descarga.</strong> Guarda <a href="${prefix}uploads/kurdish/anki-2.0.33.deb">este archivo</a>.</li>
            <li><strong>Instala.</strong> Ve Go to where you saved the file and type: sudo dpkg -i anki-2.0.33.deb</li>
            <li><strong>Run.</strong> Type: anki</li>
        </ol>
    </li>
    <li>Install Anki (other OS):
        <ol>
            <li>Follow the instructions on <a href="http://ankisrs.net/">Anki's website</a>.</li>
        </ol>
    </li>
    <li>Use the cards:
        <ol>
            <li>Download and save <a href="${prefix}uploads/kurdish/kurmanji_cards.zip">the cards</a>.</li>
            <li>Run Anki, click on 'Import file' and import the cards.</li>
            <li>Click on one of the cards, and start studying!</li>
        </ol>
    </li>
</ul>

<p>Aquí tienes también otros texos para estudiar:</p>

<ul>
    <li><em>Jonathan Livingstone Seagull</em> en <a href="${data_prefix}uploads/kurdish/jonathon-livingstone.pdf">inglés</a> y en <a href="${data_prefix}uploads/kurdish/qaqlibaza_jonathan.pdf">kurdo</a>.</li>
    <li>Un texto sobre la revolución catalana.</li>
    <li>Compara la Declaración de Derechos Humanos en <a href="${data_prefix}uploads/kurdish/humanrights/declaration of human rights - spanish.pdf">castellano</a> y en <a href="${data_prefix}uploads/kurdish/humanrights/declaration of human rights - kurdish.pdf">kurdo</a>. Hay otros idiomas disponibles <a target="_blank" href="http://www.ohchr.org/EN/UDHR/Pages/SearchByLang.aspx">aquí</a>.</li>
</ul>

<p class="go-next">Siguiente: 3. <a href="${prefix}join-3-preparing-yourself.html">Preparación y equipaje</a></p>

</section><!-- /#main -->

