<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>El viaje</h3>

    <p>No podemos dar muchos detalles públicamente sobre el viaje a Rojava. Usamos distintas rutas para traer a la gente aquí.</p>

    <p>Cuando estés preparada te pondrán en una lista especial y tendrás que esperar. Cuando el camino esté abierto y sea seguro, te dirán una ciudad a la que volar, en Bakûr (Kurdistan turco) o Başûr (Kurdistan iraquí), y distintas opciones de fechas. Estas fechas pueden adelantarse, así que tienes que estar listo para viajar en cualquier momento.</p>

    <p>Después recibirás instrucciones sobre lo que tienes que hacer una vez aterrices.</p>

    <p>El proceso de entrar a Rojava varía. Gente de confianza te llevará hasta la frontera y te ayudará a cruzar.</p>

<p class="go-next">Siguiente: 5. <a href="${prefix}join-5-what-to-expect.html">Qué esperar</a></p>

</section><!-- /#main -->

