<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y necesitamos que todo el mundo venga y participe – no sólo soldados. Necesitamos gente con habilidades, y gente revolucionaria que entiendan este experimento. Necesitamos kurdos que sepan idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras y traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Qué puedes hacer aquí</h3>

    <p>Necesitamos todo tipo de gente, no sólo soldados. Es importante que cualquiera capaz y con ganas de participar venga y ayude a que esta revolución sea una realidad.</p>

    <p>Si eres kurda, no te quedes en casa en un cómodo país capitalista. Necesitamos que vengas a trabajar aquí. Necesitamos tus conocimientos, traducidos de otros idiomas. Necesitamos gente que pueda escribir informes sobre la situación aquí para medios extranjeros. Necesitamos gente que pueda ayudar a la gente de aquí a aprender inglés para que la sociedad pueda progresar.</p>

    <p>Si tienes experiencia en algo, en concreto comunicación o tecnología, aquí hay un inmenso abanico de oportunidades para que participes en formar y ayudar a otra gente.</p>

    <p>Pero sobre todo, tu motivación es más importante que tus habilidades. Si estás motivado puedes aprender cualquier cosa. Aquí las necesidades están cubiertas, y las personas viven juntas en comunidad. El ambiente es amistoso, relajado y revolucionario.</p>

    <p>También necesitamos artistas callejeras, músicos y gente del mundo de la cultura. La región está viviendo un renacimiento cultural, y animamos a la gente a aportar sus influencias para hacer crecer el ambiente cultural y artístico de Rojava.</p>

    <h3>Qué necesitamos</h3>

    <p>Expertas en agricultura</p>

    <ul>
        <li>Conocimiento de los distintos tipos de cultivos</li>
        <li>Promoción del uso de técnicas más sostenibles</li>
        <li>El régimen anterior sólo permitía cultivar trigo. Falta conocimiento de otros cultivos.</li>
        <li>Hay plagas periódicas de insectos que destruyen un montón de cultivos, y nadie sabe por qué.</li>
    </ul>

    <p>Arquitectos</p>

    <ul>
        <li>Interés en nuevas técnicas de construcción</li>
    </ul>

    <p>Ejército</p>

    <ul>
        <li>Luchadoras con experiencia que puedan asumir puestos de liderazgo.</li>
        <li>Dispuestos a someterse a formación exhaustiva.</li>
        <li>Las novatas tienen que pasar por un entrenamiento largo antes de entrar en combate.</li>
    </ul>

    <p>Artistas</p>

    <ul>
        <li>Artistas callejeros para decorar Rojava.</li>
        <li>Promoción del arte y la cultura para refozar los valores revolucionarios.</li>
    </ul>

    <p>Negociantes</p>

    <ul>
        <li>Inversión y gestión de proyectos con motivos sociales.</li>
    </ul>

    <p>Ingenieras eléctricas</p>

    <ul>
        <li>Supervisión, reparación y mantenimiento de infraestructura eléctrica antigua.</li>
    </ul>

    <p>Ingenieros en general</p>

    <ul>
        <li>Neveras, molinos, refinerías… hace falta de todo</li>
        <li>Necesidad urgente de construir nuevas fábricas y reactivar las antiguas</li>
        <li>La filosofía de OpenSource Ecology encaja bien con la economía de Rojava</li>
        <li>Necesidad de construir / mantener máquinas, como tractores o maquinaria de talleres</li>
    </ul>

    <p>Salud</p>

    <ul>
        <li>Cursos de formación para la gente de aquí</li>
        <li>Médicos con distintas especialidades</li>
        <li>Anestesistas</li>
        <li>Matronas</li>
        <li>Veterinarios para granjas</li>
        <li>Informáticas para gestión general de hospitales</li>
    </ul>

    <p>Comunicación</p>

    <ul>
        <li>Documentación de la realidad de aquí para que la genete enienda la situación</li>
        <li>Transmisión de conocimientos para empoderar a la sociedad y darles una voz propia</li>
        <li>Ayuda con la creación de una buena cultura mediática e implantación de valores artísticos</li>
    </ul>

    <p>Científicas</p>

    <ul>
        <li>Alimentación de la cultura científica local</li>
        <li>Extensión del conocimiento a la sociedad civil en campos como el análisis de agua</li>
        <li>Investigación para una economía popular</li>
        <li>Conservación del medio natural</li>
    </ul>

    <p>Técnicos</p>

    <ul>
        <li>Internet: desde construcción de antenas a configuración de redes</li>
        <li>Desarrolladoras para ayudar a crear sistemas de información, y transmisión del conocimiento</li>
        <li>Entusiastas de Linux y software libre para facilitar el aprendizaje en escuelas</li>
        <li>Expertos en electrónica para ayudar a crear una industria electrónica local</li>
        <li>Interés en los siguientes campos: Bitcoin, impresión 3D, Linux, guifi.net</li>
    </ul>

    <p>Traductoras</p>

    <ul>
        <li>Si hablas bien kurdo y otro idioma, eres valiosísimo aquí. Hay muchísimo conocimiento que necesita ser documentado en kurdo. Hacemos un llamamiento a todas las kurdas expatriadas- Rojava os necesita!</li>
    </ul>

<p class="go-next">Siguiente: 2. <a href="${prefix}join-2-learn-kurdish.html">Aprende kurdo</a></p>

</section><!-- /#main -->

