<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Libros y otros recursos sobre Rojava</h3>

    <p><a href="${data_prefix}uploads/amountainriver-web.pdf"><img alt="Quienes somos" class="border right" src="${data_prefix}pics/asmallkeycanopenalargedoor.jpg"></a>
    Lee la <a href="${data_prefix}uploads/amountainriver-web.pdf">introducción a "A small key can open a large door"</a> (en inglés). Te ayudará a familiarizarte con la situación aquí, y te dará una perspectiva de los antecedentes de la lucha en Rojava.
</p>

<p>Otro libro que deberías leer es el panfleto sobre confederalismo democrático de Abdullah Ocalan. Es la base del sistema que se está creando en Rojava:</p>

<ul>
    <li><a href="${data_prefix}uploads/ocalan/Confederalismo-Democratico.pdf">Confederalismo Democrático</a> (castellano)</li>
    <li><a href="${data_prefix}uploads/ocalan/Ocalan-Democratic-Confederalism.pdf">Democratic Confederalism</a> (inglés)</li>
    <li><a href="${data_prefix}uploads/ocalan/Abdullah-Ocalan-Confederalisme-democratique.pdf">Confédéralisme démocratique</a> (francés)</li>
    <li><a href="${data_prefix}uploads/ocalan/Abdullah-Ocalan-Demokratischer-Konfoderalismus.pdf">Demokratischer Konföderalismus</a> (alemán)</li>
</ul>

<blockquote>el confederalismo democrático de Kurdistan no es un sistema estatal, es el sistema democrático de la gente sin Estado… En él, el poder mana del pueblo, y es adoptado para alcanzar la autosuficiencia en todos los campos, incluyendo la economía.</blockquote>

<p class="go-next">Siguiente: 3.2. <a href="${prefix}join-3-2-personal-account.html">Una crónica personal de Rojava</a></p>

</section><!-- /#main -->

