<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Qué esperar</h3>

<p>Rojava está en un momento histórico muy especial. Es un símbolo de referencia para demostrar el éxito de una sociedad federada. Hay un gran pluralismo, y se hacen importantes esfuerzos para valorar a las mujeres, las distintas religiones, otros idiomas y la igualdad entre los diferentes grupos étnicos. La gente es muy abierta a las extranjeras con nuevas ideas, ésta es una revolución hecha por gente de muy diversos tipos y orígenes. Por otra parte, aún hay grandes problemas por resolver, y grandes peligros que amenazan el éxito de la revolución. Pero ésta es muy real, y es un nuevo mundo lleno de oportunidades.</p>

<p>Intenta venir para estar al menos 6 meses. No tiene sentido montar todo el pollo logístico para venir una semana o dos. Esto no es Mallorca. Es una puta guerra.</p>

<p>Si vienes para luchar, pasarás 2 meses o más aprendiendo el idioma y sobre Rojava antes de hacer nada. Una vez en el frente, igual te pasas meses haciendo largas guardias y durmiendo poco antes de entrar en combate. Puede ser deprimente y aburrido, depende de cómo te lo tomes. Puede que te toque luchar junto a gente de muy distintos perfiles étnicos, políticos, ideológicos y religiosos, y se espera de ti que te adaptes y te integres. Tendrás que ayudar con todo tipo de tareas, como cualquier militar del mundo.</p>

<p>La gente que es aceptada en Rojava no tiene que comprarse la comida ni el equipo. Generalmente proveemos todo lo necesario. Sin embargo, aconsejamos a las especialistas que se traigan las herramientas que necesiten para su trabajo, ya que a lo mejor es difícil encontrarlas en Rojava (por ejemplo, equipo de laboratorio, metros laser o lentes de cámaras). Si puedes traer algo de dinero en metálico, te puede ayudar en determinadas situaciones y darte seguridad psicológica, pero no es imprescindible.</p>

<p>La vida por lo general es comunal. Las comidas y tareas son un trabajo grupal. Tendrás todas tus necesidades básicas cubiertas. Sobre la gente, hay toda la variedad posible: licenciados universitarios, artesanas cultas, paletos arrogantes, guerrilleras ilustradas, y todo lo que te puedas imaginar. No es fácil de resumir. La comida es muy buena, sana y abundante.</p>

<p>Rojava es una nación con fervor revolucionario. Tras este movimiento hay ideales libertarios que se están llevando a la práctica. Pero no todo es blanco o negro. Hay muchos individuos cultos e informados, algunos en puestos de liderazgo, pero también hay una fuerte idolatría ovejil en torno a la figura de Abdullah Ocalan. Los soldados rasos de la YPG te sueltan sus citas de memoria, pero para ellos sólo representan movidas abstractas. Eso sí, hay una parte de algo genuinamente interesante creciendo en torno a la educación, la economía y la gobernancia.</p>

<p class="go-next">Siguiente: 6. <a href="${prefix}join-6-ready.html">Estoy lista</a></p>

</section><!-- /#main -->

