<header role="page">
    <h1 class="join icon">Únete</h1>
<div class="notice">
<h4>El KRG (Gobierno Regional de Kurdistan) ha establecido un embargo total contra Rojava lo cual hace imposible traer a nadie desde Bashur por el momento.</h4>
    <p>&nbsp;</p>
<h4>La frontera con Bakur (la parte de Kurdistan ocupada por Turquía) tampoco es una opción debido a la guerra.</h4>
    <p>&nbsp;</p>
<h4>Estamos haciendo una lista con toda la gente interesada en venir. Puedes enviarnos tu solicitud, pero siendo realistas, no podremos volver a traer gente al menos hasta el verano.</h4>
</div>
    <p>&nbsp;</p>

    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Rojava es una nueva nación revolucionaria</h3>

<p><a href="https://en.wikipedia.org/wiki/Rojava">Rojava</a> es una región autónoma en el norte de Siria. Consiguió la autonomía en noviembre de 2013, durante el levantamiento sirio, estableciendo una sociedad basada en principios de democracia directa, igualdad de género y sostenibilidad. Rojava consiste en tres cantones llamados Cezîre, Kobanê y Afrîn.</p>

<p><small><strong>Atiende:</strong> Nos llegan muchos mensajes de gente que no se ha leído la guía. Antes de escribirnos, lee bien todo. Esto va en serio; si nos envías un correo de una línea sin haber leído antes toda la info, nos estarás haciendo perder el tiempo y quedarás como el culo. Queremos que venga gente que se lo tome en serio.</small></p>

<h3>Qué esperar</h3>

<p>Venir a Rojava es una gran decisión, y deberías entender completamente dónde te estás metiendo y sentirte preparada.</p>

<p><em>Hay un curso de kurdo de 2 meses que tendrás que hacer antes de nada. Incluye entender de qué va Rojava, aprender el idioma y cómo funciona la sociedad. Esto es una revolución, no un evento de Facebook.</em></p>

<p>También ten en cuenta que:</p>

<ul>
    <li>No pagamos a los voluntarios.</li>
    <li>En principio vienes para quedarte al menos 6 meses.</li>
    <li>Hay un curso de orientación de 2 meses en el que aprenderás el idioma y la cultura de Rojava.</li>
    <li>Seguramente tendrás que trabajar con gente de distintos contextos étnicos, políticos, ideológicos y religiosos. Se espera de ti que te adaptes y te integres.</li>
</ul>

<h3>Empieza con la guía</h3>

<p>Para empezar, mírate bien esta guía:</p>

<ol>
    <li><a href="${prefix}join-1-what-can-you-do.html">Qué puedes hacer aquí</a></li>
    <li><a href="${prefix}join-2-learn-kurdish.html">Aprende kurdo</a></li>
    <li><a href="${prefix}join-3-preparing-yourself.html">Preparación y equipaje</a>
        <ul>
            <li><a href="${prefix}join-3-1-resources.html">Libros y otros recursos sobre Rojava</a></li>
            <li><a href="${prefix}join-3-2-personal-account.html">Una visión personal de Rojava</a></li>
        </ul>
    </li>
    <li><a href="${prefix}join-4-the-journey.html">El viaje hasta aquí</a></li>
    <li><a href="${prefix}join-5-what-to-expect.html">Qué esperar</a></li>
    <li><a href="${prefix}join-6-ready.html">Estoy lista</a></li>
</ol>

<p>Estudia toda la info para que entiendas bien la situación en la que te vas a meter.</p>

<p class="go-next">Siguiente: 1. <a href="${prefix}join-1-what-can-you-do.html">Qué puedes hacer aquí</a></p>

</section><!-- /#main -->

