<header role="page">
    <h1 class="join icon">Únete</h1>
    <p>Esto es una revolución, y hace falta que todo el mundo participe – no solo soldados. Necesitamos gente con habilidades, y revolucionarias que entiendan este experimento. Necesitamos kurdos expatriados que hablen otros idiomas. Necesitamos especialistas, como arquitectas, médicos, ingenieras, informáticos, comunicadoras, traductores. Necesitamos artistas callejeras, músicos y culturetas.</p>

<p><strong>¡Te necesitamos!</strong></p>
</header>

<section id="main">
	<h3>Estoy lista</h3>

    <p>Si después de <a href="${prefix}join.html">haber estudiado el material</a> te sientes preparado, escríbenos un correo contestando las siguientes preguntas:</p>

    <ul>
        <li>¿Cuáles son tus antecedentes y experiencia?</li>
        <li>¿Qué te motiva a venir?</li>
        <li>¿Cómo ves lo que está pasando en Rojava?</li>
        <li>¿Cuáles son tus habilidades y especialidades?</li>
        <li>¿Qué te interesa de este sitio?</li>
        <li>¿Cuánto piensas quedarte?</li>
        <li>¿Cuándo podrías venir?</li>
        <li>Un curriculum muy breve</li>
    </ul>

    <p>Procura dar respuestas útiles que nos den una idea completa de cómo eres.</p>

    <p>Tienes que traer una copia de estos dos textos:</p>

    <ul>
        <li>Curso de <a href="${res_prefix}uploads/kurdish/libro_texto_kurdo.pdf">kurmanci básico</a>.</li>
        <li><a href="${res_prefix}uploads/amountainriver-web.pdf">Introduction a Rojava</a>, del libro “A small key can open a large door”</li>
    </ul>

    <p>Usa la <a href="${prefix}contact.html">página de contacto</a> para escribirnos.</p>

</section><!-- /#main -->


