<aside role="sub">
	
<h4>Contacto</h4>
<p>
Consúltanos, ofrece ayuda o solicita unirte. Encuéntranos en nuestra <a href="${prefix}contact.html">página de contacto</a>.</p>
<p>
	También puedes seguirnos en Twitter (<a target="_blank" href="https://twitter.com/RojavaPlan">@RojavaPlan</a>) o contactar con nosotras en <a target="_blank" href="https://www.facebook.com/RojavaPlan" target="_blank">Facebook</a>.</p>


	
	<h4>FAQ</h4>
	<p>
    Tienes preguntas, tenemos respuestas. <a href="${prefix}faqs.html">Mira nuestra seción de preguntas frecuentes »</a></p>


	
<h4>Boletín semanal del plan Rojava</h4>
<p>
	Apúntate a la lista de correo para charlar sobre los proyetos, compartir ideas y recibir noticias directamente en tu correo.</p>

<form class="newsletter" action="https://lists.riseup.net/www" method="post">
    <fieldset>
        <label for="email" class="hide">Correo</label>
        <input id="email" type="email" name="email" placeholder="Correo">
        <input type="hidden" name="list" value="rojavaplan">
        <input type="hidden" name="action" value="subrequest">
        <input type="hidden" name="via_subrequest" value="1">
	</fieldset>
	<fieldset class="submit">
        <input class="MainMenuLinks" type="submit" name="action_subrequest" value="Suscríbete">
    </fieldset>
</form>

</aside>

