<header role="page">
    <h1 class="rpmain icon">Plan Rojava</h1>
<p><strong>Lo que has estado esperando.</strong></p>
</header>

<section id="main">
	<h3>Expect Us!</h3>

    <p>Tras las revoluciones burguesas hace dos siglos, el poder de Dios dio paso al poder del dinero, y el nacionalismo reemplazó a la religión como principal sistema de opresión humana.</p>
    <p>La revolución comunista nos trajo igualdad, pero no libertad. Un siglo después, el capitalismo y los estados-nación forman un único ente inseparable al que llamamos 'el Sistema', que es más fuerte que nunca. Pero nosotrxs también.</p>
    <p>Algunos movimientos libertarios y pro-democracia de todo el mundo han perdido la esperanza; han decidido que estamos ante "el fin de la historia", que los estados han ganado la guerra, que toda resistencia es inútil: tanto la sociedad humana como el medio ambiente están condenados. Sin embargo, en cuanto pones un pie en Rojava te das cuenta de que todo eso es una tontería.</p>
    <p>Llevamos años entrenando para esto, de Chiapas a Wall Street, Catalunya, Sudamérica, Grecia... En Rojava es ya una realidad.</p>
    <p>Si la revolución de Rojava se mantiene, puede expandirse a las mentes de la gente que no teme a la libertad.</p>
    <p>La humanidad es como una mariposa atrapada en el estado larvario. Esto puede significar el principio de la metamorfosis: de estructuras centralizadas y autoritarias a la nueva sociedad en red p2p; de los estados-nación al confederalismo democrático.</p>
    <p>Ellos tienen el dinero, pero nosotrxs tenemos internet y nuestra imaginación. Y ahora podemos crear nuestro propio dinero.</p>
    <p>Así que coge el portátil y ven a Rojava ya. Deja de decir que puedes ser más útil en tu país. Déjate de mierdas. ¡Despierta!</p>
    <p>Esto no es una operación. Es un plan. <a href="${prefix}join.html">Es aquello para lo que te has estado preparando</a>.</p>

</section><!-- /#main -->

